[2016-09-22 12:24] digabriel opened #1 "stopAnimation not working"
When i call `stopAnimation()` (without calling `revertAnimation()`) the animation does not stop and the loading progress continues running.

Here's my code:

[code]

[2016-09-22 12:35] leandroBorgesFerreira commented on #1
Hey Gabriel,

I will take a look and fix the problem tonight.

For now, I can say that "followButton.stopAnimation();" is supposed to only freeze the animation. If you want to display a text in the button, you will have to call "followButton.revertAnimation();" so the button will go back to be a normal button (not a loading spinner)

[2016-09-22 13:46] digabriel commented on #1
Hi Leandro, thanks for your quick reply.

I try to call revertAnimation() and then set a new text, but after the revert animations ends, the button text go back to the original text, not the new one that i set. Example

[code]

[2016-09-22 13:53] leandroBorgesFerreira commented on #1
I just ran your code. The animation didn't stopped, you are right. I will fix and then i will tell you when its ready.

You are trying to make a "Done" status, right? I will add a "removeAnimation" so it will work as you expect. Then will work on a more polished version of a 'Done' status, the button doesn't support that right now.

[2016-09-23 12:34] leandroBorgesFerreira commented on #1
@digabriel I fixed the problem, the lib will work as you expect now. Use the version `compile 'br.com.simplepass:loading-button-android:1.3.0'`.

I also added the method
`doneLoagingAnimation(int fillColor, Bitmap doneImage);`
I does a Done status in a polished way, you can choose the color and the image of the status.

[2016-09-23 12:37] digabriel commented on #1
Thanks you very much @leandroBorgesFerreira!!!

[2016-09-23 17:48] leandroBorgesFerreira commented on #1
You are welcome!

[2016-09-23 17:48] #1 closed

[2016-12-16 13:10] felipeaugusto1 opened #2 "Alterar Texto do Botão"
Como faz pra mudar o texto do botão após uma animação? Após um revertAnimation() eu não consigo alterar o texto do botão.

[2016-12-16 13:58] leandroBorgesFerreira commented on #2
Oi Felipe,

Acabei de adicionar um listener para quando a animação acabar. Basta fazer desse jeito:

circularProgressButton.revertAnimation(() -> circularProgressButton.setText("Animation reverted"));

ou:

circularProgressButton.revertAnimation(new OnAnimationEndListener() {
                @Override
                public void onAnimationEnd() {
                    circularProgressButton.setText

[2016-12-16 14:51] #2 closed

[2017-04-24 12:37] rsuper opened #3 "Crash when calling doneLoagingAnimation before start animation ends"
When calling `doneLoagingAnimation` after `startAnimation()`, but before the start animation has ended, the application crashes on a nullpointer:
[code]

As said, it happens in the following situation:
- The button starts animating using `startAnimation()`
- The loading animation is stopped using `doneLoagingAnimation(params)` before the initial start animation has ended (button getting narrower)

[2017-04-24 15:39] leandroBorgesFerreira commented on #3
I reproduced the error. I will fix it in some hours.

Yes, this is a typo. I'll correct it too!

[2017-04-24 18:22] leandroBorgesFerreira commented on #3
The problem got corrected in the 1.6.5 version. Please update to this version so you won't face this problem anymore.

[2017-04-26 16:01] jbmlaird opened #4 "Memory leak on button press"
Great library. Looks great.

I got a 49KB memory leak when having two of these buttons in an `Activity`. I clicked on both of them and they did the full item animation.

[code]

I thought it might be due to assigning the `OnAnimationEndListener` but when I tried with:

[code]

I also got the 49KB leak.

EDIT: The leak does not occur if I do not press the button

Any ideas?

LeakCanary log:

[loadi

[2017-04-26 17:31] leandroBorgesFerreira commented on #4
When you close the activity, the animation is still going, right? You never called doneLoadingAnimation or revertAnimation, right?

[2017-04-26 18:24] leandroBorgesFerreira commented on #4
I am going to study this problem to see what can be causing this leak.

[2017-04-26 18:29] jbmlaird commented on #4
I'm just trying to reproduce it properly. It doesn't always leak (or LeakCanary doesn't always detect it). At the moment it seems to be when I go back to the `Activity` but if I don't go back to it, it doesn't leak.

[2017-04-26 20:23] jbmlaird commented on #4
I've got a leak of 2MB a couple of times. It seems to only leak 1 out of 10 times, I'm still trying to see what exactly is causing the issue. It may be my implementation. I have two of these buttons in a `RecyclerView`.

[loadingbuttonmemoryleak.txt](https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/files/959668/loadingbuttonmemoryleak.txt)

[2017-04-26 20:31] jbmlaird commented on #4
I'm going to close this for now because I think it may have been due to me not disposing my `Observable`s properly. I have been unable to reproduce since proper GC. LeakCanary must have been falsely pointing to this library as I started the `Observable`s on button press,

[2017-05-04 04:19] frankenten13 opened #5 "error when startanimation()"
Beautiful animation. I have a problem when init call mBtLogin.startAnimation(), animation not load full in onCreate. I fix it as put startAnimation in a Handler().postdelay. How to direct call startAnimation() when start app.
Thanks.
[code]

[2017-05-04 13:51] leandroBorgesFerreira commented on #5
Hi Frankenten13,

This is happening because during the onCreate the button didn't draw it self yet, so it doesn't know the measures that it needs to know before animating...

I can work on a fix to this problem, but first could you explain me a bit better what are you trying to do with the button? Do you need to call the animation with a delay or you need to start your activity the the loading ani

[2017-05-05 03:32] frankenten13 commented on #5
Thanks for your quick reply, i have a layout Login with funcion auto login when user and password already input, so i need call startAnimation on onCreate. Here my code.
[code]
Perfect if i can call it on onCreate.
Thanks & best regards

[2017-05-05 17:11] searchy2 opened #6 "Merger Manifest Failed"
Unable to use library in project due to manifest merger failure. Perhaps increasing the Build Tools version to 25.0.2 will fix the problem?

[2017-05-05 17:20] searchy2 commented on #6
The issue could also be that his library is built off of Kotlin?

[2017-05-05 18:15] leandroBorgesFerreira commented on #6
The fact that this library is not built for Kotlin should not be a problem. Kotlin is interoperable with Java.

It is a bit hard to say what's wrong with your project and the library. Could you provide some stack trace or explain a little bit better the problem?

[2017-05-05 18:34] searchy2 commented on #6
I think it might just be the Build Tools. Will hold off and see.

[2017-05-05 21:46] leandroBorgesFerreira commented on #6
Now the version 1.6.6 has the 25.0.2 build tools

[2017-05-06 00:53] searchy2 commented on #6
Thanks for the quick turnaround! The problem still persists and I suspect that Kotlin may be causing the issue. I have had issues with Kotlin libraries before :(
Hopefully this is specific to my project. Closing issue as isolated incident.

[2017-05-06 00:53] #6 closed

[2017-05-06 01:26] leandroBorgesFerreira commented on #5
I will fix that in this next week

[2017-05-06 23:01] mradzinski commented on #5
@leandroBorgesFerreira, sorry to disagree, but this doesn't require much of a fix. ```onCreate()``` is not supposed to be used for animating things nor explicit app logic (such as Login) as this can lead to several issues such as lagging and others. @frankenten13, you should read about the activity lifecycle and when are you supposed to invoke certain parts of your code. Invoking a Login function

[2017-05-08 17:11] pro2on opened #8 "blinking while progress"
Hello!

While progress, the arc is blinking. It's like a new step when it becomes it's min size and then become full size and immediately min again  and begin the growing.

Tested on android simulator API 25

[2017-05-09 12:28] leandroBorgesFerreira commented on #8
Hi pro2on. I will take a look at this problem and answer you a bit later

[2017-05-10 11:56] jbmlaird commented on #4
@leandroBorgesFerreira me again.

I've created a fork to show when this leaks: https://github.com/jbmlaird/LoadingButtonAndroidMemoryLeak

It seems to leak when you do any action on another thread, regardless of whether you call `revertAnimation()` on the UI Thread or not.

If you go into the `SecondActivity` press both buttons and then return to the first Activity you should see the LeakCanary pr

[2017-05-10 18:00] searchy2 commented on #6
Oh shucks, I just realized that the Manifest merger failed because the minimum SDK version is 16 instead of 15.

[2017-05-10 18:01] leandroBorgesFerreira commented on #6
I see... I will increase the compatility

[2017-05-10 18:08] leandroBorgesFerreira commented on #4
Thanks for the contribution jbmlaird. I will wait for your pull request

[2017-05-10 20:54] searchy2 commented on #6
It's my fault for not noticing that is the problem,, sorry for the trouble :P

[2017-05-11 09:10] jbmlaird commented on #4
I've created the pull request: #9

This is just a quick fix that I implemented to stop it leaking but you might want to call it internally somewhere. Facebook has an equivalent private method [here](https://github.com/facebook/shimmer-android/blob/master/shimmer-android/src/main/java/com/facebook/shimmer/ShimmerFrameLayout.java#L788) but theirs still leaks unless you call it yourself

Thanks again

[2017-05-11 12:21] sankhakarfa opened #10 "loading spelling is incorrect in readme"
`btn.doneLoagingAnimation(fillColor, bitmap); `
Please correct the code in the readme. loaging will be loading
Thanks for the Buttons.

[2017-05-11 20:27] leandroBorgesFerreira commented on #10
Corrected.

[2017-05-11 20:27] #10 closed

[2017-05-11 22:38] leandroBorgesFerreira commented on #4
I merged your pull request. You can use the 1.7.0 version to use the dispose method. I take a look at the leaks those days

[2017-05-12 09:17] jbmlaird commented on #4
Nice one, thank you :)

[2017-05-12 09:17] #4 closed

[2017-05-16 06:46] Kishanjvaghela opened #11 "Button with shadow like cardview"
I want to use the button with shadow same like material CardView. I this possible with this library? or any alternative solution?

[2017-05-16 13:44] leandroBorgesFerreira commented on #11
Hello Kishanjvaghela. The animation will happen only in the button, not in the CardView. But you can accomplish what you are looking for with this button. All you have to do is to use a drawable in the background for rounded corners and set the elevation of you button to create a shadow. If you are targeting a version before 21, you can set the shadow in the drawable.

[2017-05-16 13:44] #11 closed

[2017-05-16 14:07] leandroBorgesFerreira commented on #8
Hello, pro2on. You are right. There is definitely a blinking... Just saw this in the emulator with api 24 and 25. I am trying to find a real device with android Nougat to see if the problem happens on then.

[2017-05-16 14:13] leandroBorgesFerreira commented on #8
Just tested on a Samsung Galaxy S7 with api 24. Didn't see the problem. I will keep looking

[2017-05-16 14:31] leandroBorgesFerreira commented on #8
I could reproduce this in an Nexus 6P. I am working to solve this

[2017-05-24 14:21] vincenzoaceto opened #13 "loadingButton.revertAnimation() NullpointerException"
Hi, i found a issue in your library when i use .revertAnimation() method.
If i use twice the method on a button, nullpointerException occurred. Why?

the message:
"Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
                                                                                 at br.com.simplep

[2017-05-24 14:39] leandroBorgesFerreira commented on #13
Hi Vicenzoaceto, I just tested with two revertAnimation being called, but I didn't get any NullPointerException. Could share the code that presented this error, so I can reproduce it?

[2017-05-24 15:20] leandroBorgesFerreira commented on #13
Vicenzo, there was an exception when calling revertAnimation before startAnimation where I got a NullPointerException. Was this your problem? I was solved in the 1.7.1 version

[2017-05-24 15:31] vincenzoaceto commented on #13
hi leandro, that's my problem! Thanks to your answer and to your fix. I'm going to update the library. Thank you very much.

[2017-05-25 12:50] leandroBorgesFerreira commented on #13
You are welcome! Thanks for your contribution!

[2017-05-25 12:50] #13 closed

[2017-06-01 14:11] Seroja1010 opened #15 "After tap on follow button, I would like to change button text as "follow" or "unfollow",button text is not changed"
followBtn.revertAnimation(new OnAnimationEndListener() {
            @Override
            public void onAnimationEnd() {
                if (selectedUser.isFollowing) {
                    followBtn.setText("Unfollow");
                } else {
                    followBtn.setText("Follow");
                }
            }
        });

....
followBtn.revertAnimation();

[2017-06-01 17:40] leandroBorgesFerreira commented on #15
Witch one are you calling? The first or the second option of code that you presented?

[2017-06-03 09:31] Seroja1010 commented on #15
both case is not working. And when I apply rounded corner shape to button.
Once revert, It's changed rectangle corner

On Thu, Jun 1, 2017 at 8:40 PM, Leandro Borges Ferreira <
notifications@github.com> wrote:

[2017-06-04 22:28] leandroBorgesFerreira commented on #15
Hi Seroja1010,

I just tested with 1.7.2 version (the current one) and it worked just fine, I believe that you are not setting the value of your sleectedUser.isFollowing properlly. You can test without any logic inside OnEndAnimationListener to make sure that the problem is not in your code.

I also just tested the revert corner. It also works fine. I believe that you are not setting the final cor

[2017-06-05 01:34] Seroja1010 commented on #15
Thanks I will test

On Mon, Jun 5, 2017 at 1:28 AM, Leandro Borges Ferreira <
notifications@github.com> wrote:

[2017-06-08 17:22] leandroBorgesFerreira commented on #15
Hello Seroja1010, Did the solution worked for you?

[2017-06-12 16:27] leandroBorgesFerreira commented on #8
@victorkvarghese Sorry, but not yet. I am a little bit busy with some other projects. But I will take care of it as soon as I can

[2017-06-14 22:43] leandroBorgesFerreira commented on #15
@Seroja1010  I am closing this issue assuming that the solution worked for you. Feel free to reopen it if you have any problem

[2017-06-14 22:43] #15 closed

[2017-07-21 14:20] Cataclismo commented on #8
Any news about this? Thanks :)

[2017-07-24 02:45] leandroBorgesFerreira commented on #8
@Cataclismo I finally fixed the problem. You can use the 1.8.0 version, the problem was fixed in this version

[2017-07-24 02:45] #8 closed

[2017-07-24 03:26] leandroBorgesFerreira commented on #8
By the way: this was a hard one!

[2017-07-24 15:29] Cataclismo commented on #8
@leandroBorgesFerreira Thank you a lot. The library is amazing, by the way. Nice job :)

[2017-07-24 17:29] leandroBorgesFerreira commented on #8
You are welcome!

[2017-08-01 10:03] karanthakakr04 opened #16 "How to make the button return to it's previous state?"
I have successfully implemented this library in my dem app **but now what I want is the button to go back to it's state before pressing it**. Similar to what is displayed on the main page of this library. This is my code so far:

[code]
I am trying to implement this for my login functionality. I want the button to go back to it's initial state but I can't understand how is it possible here?
Any he

[2017-08-01 19:09] leandroBorgesFerreira commented on #16
You can use circularProgressButton.revertAnimation()

[2017-08-07 10:04] Gounlaf opened #17 "Memory leaks?"
Hi,

Using https://github.com/square/leakcanary, I've got sometimes report of memory leaks; but I don't succeed to reproduce it all times.

I can't share you a full details (privacy issues), only the trace of leak.

Thanks,

Regards

---

[code]

[2017-08-07 14:57] leandroBorgesFerreira commented on #16
Hello @karanthakakr04. Did the revertAnimation worked for you?

[2017-08-07 16:21] Gounlaf commented on #17
Hi @leandroBorgesFerreira,

Nop. I only use `startAnimation()`and `revertAnimation()`.

[2017-08-07 17:16] leandroBorgesFerreira commented on #17
Could you try use the dispose in your onDestroy to see if it stops the memory leaks?

[2017-08-08 09:03] Gounlaf commented on #17
Hi,

With calling `dispose()`, it seems to be better :)
But let me some times to ensure that

[2017-08-08 09:58] karanthakakr04 commented on #16
@leandroBorgesFerreira I didn't try it yet. Once I do, I'll post an update here. Thanks for replying.

[2017-08-08 12:39] karanthakakr04 commented on #16
@leandroBorgesFerreira Revert animation is not working for me. Could your please do us a favor and upload a sample repo explaining how to use this repository with appropriate comments?

[2017-08-08 15:03] leandroBorgesFerreira commented on #17
Ok. I will add some documentation explaining this in the README

[2017-08-08 16:40] leandroBorgesFerreira commented on #16
Could your try this code? I believe it does what you need

        final CircularProgressButton circularProgressButton = (CircularProgressButton)
        findViewById(R.id.sign_in_button);

        circularProgressButton.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                AsyncTask<String, String, String> signInActivity =

[2017-08-14 09:56] liangjingkanji opened #18 "not support ConstraintLayout"
button do't change to circle

[2017-08-15 03:08] liangjingkanji opened #19 "Animation don't have AnimationPlayEndCallback????"

[2017-08-15 12:57] leandroBorgesFerreira commented on #19
Hello @liangjingkanji, could you explain better what are your needs and maybe the use case?

[2017-08-15 12:58] leandroBorgesFerreira commented on #18
Hello, I will check if there is a problem with ConstraintLayout and the button... But did you call the animation method?

[2017-08-15 13:16] liangjingkanji commented on #18
just now i think this is my problem. constraint of problem , sorry.

[2017-08-15 13:16] #18 closed

[2017-08-15 13:33] liangjingkanji commented on #19
my think

![](https://ws3.sinaimg.cn/large/006tNc79gy1fikqfvts69j316q0tct9z.jpg)

[2017-08-17 07:04] karanthakakr04 commented on #16
Thanks @leandroBorgesFerreira I'll surely try it and get back to you.

[2017-08-17 15:02] leandroBorgesFerreira commented on #19
@liangjingkanji The button can perform the flowchart with no problems. All you have to do is to use the:

- circularButton.startAnimation()
- circularButton.doneLoadingAnimation(fillColor, bitmap)
- circularButton.revertAnimation()

You need to use those methods in the right moment. If you share what you tried so far I can give you a little help

[2017-08-24 16:53] leandroBorgesFerreira commented on #17
@Gounlaf Did had the chance to see if the memory leaks are gone in your project?

[2017-08-25 11:38] Gounlaf commented on #17
Hi @leandroBorgesFerreira,

It's seems to be OK now ;)

[2017-08-25 11:42] leandroBorgesFerreira commented on #17
Ok. Good to know it works! I am closing the issue now

[2017-08-25 11:42] #17 closed

[2017-08-25 12:00] Gounlaf commented on #17
Sorry, there might be an issue:

If I want to use, for example, a CircularProgressButton in a view used in RecyclerView, how you dispose then recreate the view?

What about [onAttachedToWindow()](https://developer.android.com/reference/android/view/View.html#onAttachedToWindow()) and [onDetachedFromWindow()](https://developer.android.com/reference/android/view/View.html#onDetachedFromWindow()) ?

[2017-08-25 12:33] Gounlaf opened #20 "Usage in viewholder for recyclerview"
Might be related #17...

Original view: ![capture d ecran 2017-08-25 a 14 15 34](https://user-images.githubusercontent.com/236413/29713653-ea6b4fe8-899f-11e7-85d0-83e8cb589d62.png)
View reused/recycled: got original + done loading image+filled color ![capture d ecran 2017-08-25 a 14 15 40](https://user-images.githubusercontent.com/236413/29713660-f7f39ecc-899f-11e7-9cfe-dc1161e962cc.png)

If I use

[2017-08-25 12:47] leandroBorgesFerreira commented on #20
Thanks for pointing it out. I will take look.

[2017-09-14 11:46] shahimclt opened #21 "button drawable getting cleared after animation"
Drawables in buttons like `android:drawableLeft` are disappearing after `revertAnimation()` is called.

[2017-09-18 13:26] #21 closed

[2017-09-28 17:07] mboudraa opened #24 "Button do not morph when no background"
Button does not morph when we don't set any background to the button.
Here is my xml
[code]

And here is the styles applyed
[code]

[2017-09-28 17:09] mboudraa commented on #24
By the way, if we apply a background to the style, the button does not respect the material button specs. There is no elevation despite the attribute in the xml and there is nor ripple effect nor elevation when we click on the button

[2017-09-30 00:58] leandroBorgesFerreira commented on #24
Thanks @mboudraa. I will take a look at this

[2017-10-12 21:06] msrd0 opened #25 "ClassCastException for Drawable in CircularProgressButton"
Running your code on an Android 6 Device with Kotlin and Anko, I get the following error:

[code]

I tried delivering `StateListDrawable.getCurrent()` as background resource, but still no luck:

[code]

This is my code for integration with anko:

[code]

Looking at the source code, it seems that you are only looking for the type of the Drawable if the passed AttributeSet is not null. While this is

[2017-10-13 19:17] leandroBorgesFerreira commented on #25
Hello @msrd0. I just fixed this issue, using a fork of this project by @jguerinet.  The version 1.8.3 contains the fix.

You can check this link for a example of use with Anko DSL: https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/blob/master/app/src/main/java/br/com/simplepass/loadingbutton/AnkoActivity.kt

[2017-10-13 19:17] #25 closed

[2017-10-13 19:19] jguerinet commented on #25
@leandroBorgesFerreira I've been meaning to PR that fix back into your project, thanks for getting to it first.
I've got a couple of other fixes (namely, being able to set the attributes programmatically) that I'll PR into your repo in the next couple of days.

[2017-10-13 19:19] leandroBorgesFerreira commented on #20
Hello @Gounlaf. I just added I fix for the creation of this button programatically. Although this issue is not fixed yet, the instation of the view from code will work, so at least with have a workaround. Use version 1.8.3

[2017-10-13 19:27] leandroBorgesFerreira commented on #24
@mboudraa This button doesn't animate by itself, you need to call startAnimation. Did you call this method??

[2017-10-14 04:24] msrd0 commented on #25
@jguerinet Sounds good, for now I have copied the source code and made the `mParams` public, but not the best solution

[2017-10-24 16:51] michielkalle opened #26 "Not working in ContraintLayout with left and right contraints"
`<br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
            android:id="@+id/submit_settings"
            android:layout_width="0dp"
            android:layout_height="48dp"
            android:layout_margin="dimen/activity_layout_margin"
            android:background="drawable/button_submit"
            android:onClick="onClick"
            android:text="string/api_sett

[2017-10-24 17:11] michielkalle commented on #26
When i remove the Left and Right contraints, its works okay, but then my button is not centred anymore,

[2017-10-24 17:29] FranPR9 opened #27 "Button doesn't resize to the center."
the button resize all the way from right to left. the progress end up being on the left part of the screen looking awful

[code]

[2017-10-24 18:18] FranPR9 commented on #27
I replaced the selector background:
[code]

[2017-10-26 20:24] leandroBorgesFerreira commented on #27
Are you sure you just didn't put gravity in the linear layout?

[2017-10-27 16:19] FranPR9 commented on #27
I solved it by replacing the background from selector to shape. the Linearlayout has "gravity:center" now. But the selector background was to give feedback of touching the button to the user, the circular progress button now gives that feedback.

[2017-10-28 00:35] leandroBorgesFerreira commented on #26
The animation of this button does not center by defaukt. You need to set the gravity. Try to put it inside a linear layout in put gravity to center

[2017-10-28 07:52] michielkalle commented on #26
Okey thanks! Then i will refactor my code.

[2017-10-28 07:52] #26 closed

[2017-11-03 10:06] vincentnock commented on #24
Same problem here, and I found the cause.
Default material buttons use a background that start with an inset

[code]

and `loadGradientDrawable` seem to be unable to treat this inset.
Here is the result:

![](https://puu.sh/ydJx1/d21fdc5b3a.png)

[2017-11-09 10:23] Lexycon opened #28 "Button background xml not accepted"
The CircularProgressButton won't work correctly with my gradient_button.xml background. In fact it doesn't change the color when I click on it. So it simply doesn't execute the android:state_pressed="true" part... Using this gradient_button.xml for a default button, it works perfectly.

layout_main.xml
[code]

style.xml
[code]

gradient_button.xml
[code]

[2017-11-10 18:07] ClarkXP commented on #15
I have a similar bug, I using CircularProgressImageButton. Then when I call revertAnimation with callback, only is changed the background, isn't changing ImageDrawable and SpinningBarColor.

[code]

[2017-11-10 19:31] ClarkXP opened #29 "revertAnimation only change background but not image and spinningbar color"
I using CircularProgressImageButton. Then when I call revertAnimation with callback, only is changed the background, isn't changing ImageDrawable and SpinningBarColor.

[code]

[2017-11-12 12:12] MuBoori opened #30 "revertAnimation() removes rounded corner"
I have button with rounded corner. However, when I call revert revertAnimation the button become sharp with no rounded corner but it is  preserve the styling

[2017-11-12 12:45] Lexycon commented on #30
Had same issue, "fixed" this by adding app:initialCornerAngle="10dp" in the xml... It seems to forget the styling... :-(

[2017-11-12 13:03] MuBoori commented on #30
@Lexycon Thanks, It works.

[2017-11-13 12:17] leandroBorgesFerreira commented on #30
Thanks for answering the question @Lexycon. Unfortunately there's not way to avoid the initialCornerAngle since there's no method to get the current corner angle from the background of the button. If someone knows a good solution for this, please let me know!

[2017-11-13 12:17] #30 closed

[2017-11-13 12:19] leandroBorgesFerreira commented on #29
I will take a look at this @ClarkXP.

[2017-11-13 13:19] leandroBorgesFerreira commented on #28
I will take a look at this

[2017-11-14 12:03] leandroBorgesFerreira commented on #29
There was a bug when changing the image back was you wanted. I got fixed in the 1.8.4 version.

But I didn't understand about spinning bar color. Why do you need to change it when the button is morphing back? No one is going to see it, right?

[2017-11-14 12:18] leandroBorgesFerreira commented on #24
Hi @vincentnock. Thanks for the reply and pointing out about the inset.

This problem in not due to the fact that there's no background, or due to this inset. The spinning bar isn't aware about the padding of the button at all, so when you set a background that has padding, or when you set a padding in your button, the spinning bar will be bigger that your background because it picks the whole Vie

[2017-11-14 13:32] vincentnock commented on #24
Hmmm, if I remember correctly, the problem here is not about the spinning bar, but about the unability to perform the morph animation on a material button, because `loadGradientDrawable`fails to get the ShapeDrawable because of the inset.

But maybe I'm wrong, I don't have to time to test again that for the moment.

[2017-11-19 22:16] ibarrea opened #31 "Width and colors in XML are not working"
This is my xml, and the spinning is still black and the button is still full width of the layout

     <br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
            android:id="@+id/pointsButton"
            android:layout_width="150dp" (or wrap_content)
            android:layout_height="wrap_content"
            android:background="@color/blue"
            android:text="Su

[2017-11-21 13:46] leandroBorgesFerreira commented on #31
Just testes in my computer and it is working. Witch version of the library are you using?

[2017-11-21 15:39] ClarkXP commented on #29
I change the spinning bar color for the next excecution, is a button with two states.

[2017-11-21 15:44] ClarkXP commented on #29
I had see that I can change the color if mAnimatedDrawable is nullified in end animation listener of revertAnimation()

[2017-12-08 06:38] kulsjoshi opened #32 "Latest version"
I am not able to find latest version to add in gradle file. Can anyone please help me out?

[2017-12-08 11:47] leandroBorgesFerreira commented on #32
1.8.4

[2017-12-09 13:24] #32 closed

[2017-12-15 00:48] theo744 opened #33 "Change background color in use"
Hi,
When I change background color of the CircularProgressButton in use, the button doesn't get round during animation.
Here is my xml:
`<br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
android:id="@+id/valider_date_livraison"
android:layout_width="match_parent"
android:layout_height="40dp"
android:layout_alignParentBottom="true"
android:layout_centerHorizontal="true"
andro

[2017-12-16 13:16] leandroBorgesFerreira commented on #33
Are you setting the background color before the animation or during the animation?

[2017-12-16 21:49] Dramtar commented on #33
hello, i have same trouble. in my case i need change background with animation when run
`revertAnimation().` I'm studied the project code, and on my mind simple way to resolve this trouble, add some thing like
`    public void setGradientDrawable(GradientDrawable gradientDrawable) {
        mGradientDrawable = gradientDrawable;
    }`

or `public void revertAnimation(final OnAnimationEndListener o

[2017-12-17 21:38] theo744 commented on #33
I'm setting it before the animation and the background is always set back to the original color before animation start

[2017-12-18 01:09] leandroBorgesFerreira commented on #33
You are right. It always come back to the original color. Will fix that.

[2017-12-18 16:46] theo744 commented on #33
Thanks, but the real problem here is that when you changed the background once in the java code, the button is'nt round anymore when animating

[2017-12-19 08:13] venjirai opened #34 "Selector and fontFamily ignored"
Hello, nice library, I do have some issues though:

I have a custom font but android:fontFamily on the button is completely ignored.
I also have a custom selector for the button background with rounded corners that doesn't seem to work. The button stays gray like it is constant in the enabled=false state.
When I remove the first item in my selector then the button has the right color, but doesn't

[2017-12-19 09:27] venjirai commented on #34
Another Problem:
When using this selector, when the animation is done and after I finish the activity and dispose of the button. When opening the same activity again, the button seems to start with a very high corner angle, like 50dp. Even though the selector only has 2 dp corners. I also set app:initialCornerAngle="2dp" and tried to revertAnimation and disposed the button immediately after use bu

[2017-12-19 11:54] leandroBorgesFerreira commented on #34
Hello @venjirai. This button doesn't accept selectors. Although you can use then, it picks the first state and ignore the other ones. The idea to show selection is the animation. I will implement a feature to make possible change the colours of the button  using setters.

About the second problem. It seams wierd. I will take a look

[2017-12-20 01:36] leandroBorgesFerreira commented on #33
That's because this button doesn't override the setBackGroundColor of Button. So it changes the background of this button and this changes it's behaviour.

[2017-12-22 09:32] venjirai commented on #34
Hello,
What about fontFamily being ignored? This is a big deal for my app which is using a company defined font anywhere else.
Regards

[2017-12-22 18:16] leandroBorgesFerreira commented on #34
Sure, I will take a look at this too.

[2017-12-22 18:46] leandroBorgesFerreira commented on #33
Hello @theo744. Try to use version 1.9.0 now. I am pretty sure it solves your problem. Happy coding!

[2017-12-22 18:49] leandroBorgesFerreira commented on #34
@venjirai When are you disposing the object? In the onPause?

[2017-12-22 19:07] leandroBorgesFerreira commented on #34
The font family bug is fixed in the version 1.9.0. Happy coding and thanks for spotting a bug!

[2017-12-23 00:54] leandroBorgesFerreira commented on #31
I am closing this issue since it can't be reproduced. Feel free to open it again if you think it is necessary

[2017-12-23 00:54] #31 closed

[2017-12-23 00:56] #16 closed

[2017-12-23 01:02] leandroBorgesFerreira commented on #33
Hi Dramtar. I still didn't test your use case, but I believe it was fixed in the 1.9.0 version. I will test this next week

[2017-12-23 02:20] theo744 commented on #33
Problem solved ! Thanks for your work and for your reactivity.
Best

[2017-12-23 08:02] Dramtar commented on #33
Hi @leandroBorgesFerreira, yes, that's right, I just updated my library version and prefaced it to my case, everything works fine, thank you very much for the excellent library and your work)

[2017-12-23 10:47] venjirai commented on #34
Hello, thank you for the fast font family fix!
For the corner bug:

View in the first activity:
[code]

Background:
[code]
[code]
First start or after clearing the RAM:

![image](https://user-images.githubusercontent.com/7094173/34319044-e644ab90-e7d6-11e7-981c-a594104fe6ce.png)

After destroying the activity and coming back to it again later:
![image](https://user-images.githubusercontent.com/709

[2017-12-23 14:44] leandroBorgesFerreira commented on #33
You guys are welcome. Thanks for spotting  these bugs

[2017-12-23 14:44] #33 closed

[2017-12-23 15:17] leandroBorgesFerreira commented on #34
@venjirai I still can't reproduce this error. I just pushed a commit that should reproduce this error. In the MainActivity, there is the same code that you just presented, but I can't see the problem yet.

[2017-12-23 16:09] leandroBorgesFerreira commented on #29
Hello @ClarkXP. Sorry for taking so long to answer your request. I believe it got corrected in the version 1.10.0. Now you can change correctly the colour of the spinning bar. To change the icon, just follow the example in the MainActivity.

Like this:

[code]

[2017-12-23 16:09] #29 closed

[2017-12-23 16:10] #27 closed

[2017-12-23 16:14] #19 closed

[2017-12-23 17:48] venjirai commented on #34
I can't see it in your code but did you finish the first activity after starting the second one?
Then go back to the first activity by starting an intent like for the second one.
When I call .revertAnimation then the button is in the correct state when coming back but the button changing while the new activity starts looks really weird.
It is also weird, that even though the onDestroy of the first

[2017-12-27 21:24] leandroBorgesFerreira commented on #34
I was killing the app to test this behavior. I will try with intents

[2017-12-28 07:46] JasonHezz commented on #24
loadGradientDrawablefails can't get RippleDrawable too

[2018-01-03 10:55] arifNislam commented on #24
Without background attribute progress bar background remains as a square.

[2018-01-11 11:04] riadhnet opened #37 "Manifest merge cause by min sdk version"
Hello,
Why min sdk version is 17 ?  i couldn't add to my project that have min sdk 16

Error:Execution failed for task ':app:processDebugManifest'.

  	Suggestion: use a compatible library with a minSdk of at most 16,
  		or increase this project's minSdk version to at least 17,
  		or use tools:overrideLibrary="br.com.simplepass.loading_button_lib" to force usage (may lead to runtime failures)

a

[2018-01-11 14:24] leandroBorgesFerreira commented on #37
Hello @riadhnet. I this minSdkVersion is important to give support for compound drawable. This method: view.getCompoundDrawablesRelative is only available in the version.

If you don't need this feature, you can fork this project and compile using minSdk 16, just be aware to don't use compound drawables.

[2018-01-14 05:49] olga-perederieieva opened #39 "Animation disappears on rotation"
If I rotate the screen while the button is in progress, the button completely disappears even though I call startAnimation straight after orientation change happened. When I try to debug startAnimation in that case, in the following code mParams.mInitialWidth = getWidth();
            mParams.mInitialHeight = getHeight();
getWidth() and getHeight() both return 0.
Should I do something special in o

[2018-01-15 12:57] leandroBorgesFerreira commented on #39
Hi Olga. This happens because you are asking the button to animate before it draws itself in the screen, so it doesn't know it size yet.

This is a bug in this view and I will correct this as soon as I can. As a work around you could wait a little bit before starting the animation in the screen like:

`Handler().post({ button.startAnimation() }, 50)`

Sorry for the inconvenience!

[2018-01-16 12:44] venjirai commented on #34
Hello,
any update on this issue?
Regards

[2018-01-17 12:33] Lexycon opened #40 "NullPointerException when calling doneLoadingAnimation"
Well, I get a NPE when calling doneLoadingAnimation. I don't get it why, actually I have some more buttons in different fragments and they are working perfectly. If I debug and compare both circularProgressButton variables, they don't have any difference. circularProgressButton is not Null.
Used version 1.8.4 and 1.12.0.

**Edit:** I have a callback/interface in the AsyncTask to the Fragment, whic

[2018-01-17 21:32] Lexycon commented on #40
Well that was a fail by me. I had to call the doneLoadingAnimation inside runOnUiThread(), because my callback was obv. executed in the Asynctask...

[2018-01-17 21:32] #40 closed

[2018-01-18 19:58] csdodd commented on #28
If I disable the call to `setBackground` (this line: https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/blob/master/loading-button-android/src/main/java/br/com/simplepass/loading_button_lib/customViews/CircularProgressButton.java#L148) then selectors work, but I have no idea what consequences this has.

[2018-01-19 22:21] Wonderpol opened #41 "How can I get this file?"
@drawable/circular_border_shape

[2018-01-19 22:35] leandroBorgesFerreira commented on #41
Which one?

[2018-01-19 23:20] Wonderpol commented on #41
So, I have already solved this problem but I've got second can I set the gravity of spinning_bar ? after animate he is going to the one of the corners. I want to have the same effect as you on the gif

[2018-01-20 01:08] leandroBorgesFerreira commented on #41
Just set the gravity of the viewgroup containing the button. Like LinearLayout -> Gravity -> Center

[2018-01-20 07:45] Wonderpol commented on #41
It doesn't work I don't know why

[2018-01-20 09:02] Wonderpol commented on #41
Ok I also solved this problem but I have one more problem after btn.revertAnimation(); animation is is stopped but the button don't have the corners radius what's the problem?

[2018-01-20 13:22] leandroBorgesFerreira commented on #41
You must set the final angle desired, you can find a sample in the repository

[2018-01-23 13:07] vrares opened #42 "Animation doesn't work with theme attribute"
I tried to use the "theme" attribute on a CircularProgressButton but it does not animate the button to a full circle. It remains a rectangle and the progressbar starts to spin. As soon as I remove the "theme" attribute, it starts to work again like a charm

[2018-01-23 14:39] leandroBorgesFerreira commented on #42
Could provide your code so I can reproduce the error?

[2018-01-23 15:18] vrares commented on #42
<android.support.constraint.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.vrares.watchlist.auth.register.ui.RegisterFragment">

    <ImageView
        android:

[2018-01-23 15:19] vrares commented on #42
And here is the style

<style name="BluePrimaryButton" parent="Theme.AppCompat.Light">
        <item name="colorControlNormal">@color/bluePrimaryDark</item>
        <item name="colorControlActivated">@color/bluePrimaryDark</item>
        <item name="colorControlHighlight">@color/bluePrimaryDark</item>
        <item name="colorButtonNormal">@color/bluePrimary</item>
        <item name="android:text

[2018-01-24 12:29] leandroBorgesFerreira commented on #42
Is there any item inside this style? Like `<item name="android:colorBackground">`

[2018-01-26 02:28] rmtic opened #43 "spinning_bar_color it doesn't work"
app:spinning_bar_color="#FFFFFFFF",     it doesn't work.I use white. It's still black.

[2018-01-26 02:33] leandroBorgesFerreira commented on #43
could try to use FFFFFF instead?

[2018-01-26 02:43] rmtic commented on #43
<br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
            android:id="@+id/progressButtonNoPadding"
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:background="@color/orange"
            android:layout_marginLeft="18dp"
            android:layout_marginRight="18dp"
            binding:onClickCommand="@{viewMode

[2018-01-26 02:48] rmtic commented on #43
![4271516934893_ pic](https://user-images.githubusercontent.com/3379581/35422995-761fafb6-0286-11e8-8fd2-fe6e4040ff9a.jpg)

[2018-01-26 14:55] leandroBorgesFerreira commented on #43
@rmtic. In trying to compile but it doesn't work using background="". The I just tried to change the spinning bar colors and in just work. You could use the example in this repo to this that the progress bar changes the color correctly

[2018-01-26 15:02] leandroBorgesFerreira commented on #42
I just tested with a theme attribute and it seams to work without problem. But it is not possible to set background color using theme attribute in this but right now.

[2018-01-26 15:24] leandroBorgesFerreira commented on #34
Hi @venjirai. I could reproduce your problem and it really seams that the button is keeps some kind of state. Your problem only happens using a Shape. As a workaround you could use a selector:

[code]

I will take a look and find out what is happening when using shape.

[2018-01-26 15:33] leandroBorgesFerreira commented on #28
Hi. This button doesn't support change of state in a selector. This is due the fact that the only drawable that the corners can be set is the gradient drawable. So the selector is cast to gradient drawable.

[2018-01-28 10:50] zulkarnainshah opened #44 "Not showing up inside fragment"
I put the button xml inside a FrameLayout since I am using fragments. It shows up in the Android Studio Preview window but doesn't show up in emulator or actual device. Howover when I move this to activity layout file with a CoordinatorLayout parent, it shows up there.

[2018-01-29 15:10] leandroBorgesFerreira commented on #44
Hi @zulkarnainshah. I am going to check it.

[2018-02-02 08:47] pnjolapara opened #46 "Nullpointer on CircularProgressButton"
When we stop animation without handler its causing nullpointer issue.
Also can you please share your example in java as well?

[2018-02-02 11:45] leandroBorgesFerreira commented on #46
Could you provide the code that made the crash?

[2018-02-06 09:57] troncomputers opened #47 "Custom fonts not displayed"
Hi!
I need help with custom fonts. On Preview (in Android Studio) works fine but when I build and launch on emulator it's not.
![loading_button_preview](https://user-images.githubusercontent.com/29543667/35852934-80e9f650-0b2c-11e8-9c16-58a9f1bdbeb4.png)

[2018-02-08 10:07] leandroBorgesFerreira commented on #47
Hi @troncomputers. I just tested in my computer and the custom fonts works just fine. Witch version of this library are you using?

[2018-02-08 10:15] leandroBorgesFerreira commented on #44
Hi @zulkarnainshah. I just tested in my computer and it work just fine inside a fragment.

[2018-02-08 11:54] troncomputers commented on #47
br.com.simplepass:loading-button-android:1.7.2

[2018-02-08 12:02] leandroBorgesFerreira commented on #47
Update to 1.12.1 and you will be fine

[2018-02-09 09:49] foxyoverdrive commented on #20
Hello, @leandroBorgesFerreira!
Still have a question about your Buttons in RV. I need to set button state (normal or finished) according to boolean field in my model. But what should I call in bindViewHolder to set current state? I tried this way:

`if (event.isFollowed()) {
                mBtnFollow.doneLoadingAnimation(Utils.getResources().getColor(R.color.orange_juice), BitmapFactory.decodeRes

[2018-02-09 10:42] foxyoverdrive commented on #20
Okay, I added one thing and now it works:

[code]

But still I guess we should have functions to init this button with any state, because I can see quick animation everytime I scroll my RV ;p Thank you.

[2018-02-09 21:56] #47 closed

[2018-02-17 05:34] ShakirEmstell commented on #44
When I reference the button in java code using  findViewById , the button does't show up. when i remove findViewById , the button become viisble

[2018-02-17 14:26] leandroBorgesFerreira commented on #44
@ShakirEmstell I will try to reproduce this. Could you provide the code with the error in a public repository?

[2018-02-22 04:06] sidkapse opened #48 "Cannot see the button on device."
I can see the button in Android Studio XML(Preview) but when I run the code on my mobile I cannot see the button on my screen. Please help me with it. Thanks

[2018-02-22 16:48] leandroBorgesFerreira commented on #48
Hi @sidkapse. Could you provide me a way to reproduce this error? Maybe a repository in GIthub where I can see this happening

[2018-03-05 15:03] b-fg opened #49 "Keep background resource border doneLoadingAnimation"
Hi, I am trying to keep the border (stroke) of my custom background when `doneLoadingAnimation`. Instead, I can only select the same color of my custom background but the stroke is lost in the process.

My custom background (`request_button_background.xml`) is:
[code]
My CircularProgressButton is defined as:
[code]

Finally I call the `doneLoadingAnimation` as follows
[code]
Thanks for the support

[2018-03-06 09:53] ClimDan commented on #49
Hello, I have same problem with border radius.

[2018-03-06 12:11] leandroBorgesFerreira commented on #49
You're right the border goes away... The behaviour that your are requesting is not possible is this library for now. But that's a nice request! Lately It's being hard to find some free time to take care of all the issues/requests of this library, but I will take a look a this ASAP.

[2018-03-06 12:12] leandroBorgesFerreira commented on #49
If any one want's to implement this, help is more than welcome!

[2018-03-12 23:25] daniel0x7CC opened #50 "Button is not going to the center"
I've already tried almost everything... but the progress keeps starting at the start position of the button and not in the center as it should..

(você é br, então... quando clico no botão, ao invés do progress ir pro meio da tela, ele fica no começo!!!)

[2018-03-13 11:36] leandroBorgesFerreira commented on #50
Use the Button inside a Viewgroup with gravity at the center. This button respects the gravity of parent view group.

[2018-03-13 18:05] daniel0x7CC commented on #50
it worked! thank you :)

[2018-03-13 18:08] leandroBorgesFerreira commented on #50
Good to know it works now.

É nois

[2018-03-13 18:08] #50 closed

[2018-03-19 13:27] MadAxon opened #51 "java.lang.NullPointerException on emulator running 19 api"
The library works on android 5.1 and above(both emulators and real phones) and there is no problem. However, when I ran my app on the emulator(19 level API), the app got crashed.
I don't know whether there is the same problem on the real phone running 19 API.

Stacktrace:
`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                Process: com.app.test,

[2018-03-20 10:31] amitsahni opened #52 "Text always in capital letter"
text that set in xml always show in capital. is that any way to look similar what written in xml

[2018-03-20 18:20] leandroBorgesFerreira commented on #52
Did you try to set `android:textAllCaps="false"`

Just like this question on SO: https://stackoverflow.com/questions/24880388/cannot-lower-case-button-text-in-android-studio

[2018-03-20 18:29] leandroBorgesFerreira commented on #51
The library works normally in emulators with API 19. You can test the sample of this repository in an emulator with API 19 to see that it works normally. Could you provide the code that made this bug, so I can help you?

[2018-04-01 15:59] #52 closed

[2018-04-06 17:48] harneet-9039 opened #53 "Animation is not smooth"
When starting the animation it morphs in a circle but progress border stops in between. Any way around?

[2018-04-07 12:31] leandroBorgesFerreira commented on #53
Hi. Could you show me this animation , so I can understand it better?

[2018-04-16 05:29] KishanViramgama commented on #40
hii i am try your library

run time exception throw java.lang.NullPointerException use in
 **
Bitmap largeIcon = BitmapFactory.decodeResource(getResources(), R.drawable.category_bg);
int color = Color.parseColor("#FF4081");
btn.doneLoadingAnimation(color, largeIcon);**

[2018-04-16 19:08] sinadalvand commented on #51
I have same issue ! how i can solve this ?!

[2018-04-16 19:55] leandroBorgesFerreira commented on #51
@sinadalvand Could you provide the code that made your crash? Or more detail about your problem?

[2018-04-16 22:07] sinadalvand commented on #51
After many error tests i understand this error happen while call margin top in XML in this button tag ;

why? and just crash in android 4.4

[2018-04-20 06:46] alashow commented on #39
Any updates on this?

[2018-04-23 13:09] MrStahlfelge commented on #51
Tested it on a real device, it works for me.

[2018-04-23 13:37] leandroBorgesFerreira commented on #39
Not yet. I will try to find some time to solve this. But the work around will work meanwhile.

[2018-04-23 13:40] leandroBorgesFerreira commented on #51
It works in those versions without problems. Maybe what caused those NPE what some specific usage, but I can't help without some code/details about the problem.

[2018-04-26 18:38] saprasiddh opened #56 "startAnimation not working in release mode"
In Debug mode its is working but when i build for release mode the circle animation is not showing.
any suggestions?

I tried to add in proguard-rules to keep CircularProgressButton but never worked.

[2018-04-27 13:37] MrStahlfelge commented on #39
Fixed it

[2018-04-27 13:46] MrStahlfelge commented on #5
When using a ViewModel and LiveData, you set up LiveData Observers in onCreate. So if the Button animation is controlled by the ViewModel, the log in is already started and the device is rotated, the observer will immediately fire from the onCreate method.

[2018-04-27 19:46] leandroBorgesFerreira commented on #56
What do you mean by not working? The app crashes or you simply don't see the animation happening?

[2018-04-28 17:17] saprasiddh commented on #56
The animation is not happening in release build, but happens in debug build.

[2018-05-02 14:54] jeancsanchez opened #58 "Wrong library version on Readme."

[2018-05-02 19:53] leandroBorgesFerreira commented on #58
Sorry. I will fix this in a minute

[2018-05-02 23:43] #58 closed

[2018-05-06 11:30] francesco98 opened #59 "Error inflating class br.com.simplepass.loading_button_lib.customViews.CircularProgressButton"
Hi,

I'm trying to use the CircularProgressButton, but I receive this error:

     Caused by: android.view.InflateException: Binary XML file line #147: Binary XML file line #147: Error inflating class br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
     Caused by: android.view.InflateException: Binary XML file line #147: Error inflating class br.com.simplepass.loading_butto

[2018-05-07 13:52] leandroBorgesFerreira commented on #39
This problem was solved by @MrStahlfelge. Thanks for the help!

[2018-05-07 13:52] #39 closed

[2018-05-07 13:55] leandroBorgesFerreira commented on #59
Hi @francesco98. Could you provide the code of the whole XML that you are trying to use this button? It is very hard to debug this problem without the understanding the context where you are trying to use this library. Anyway, which version are you using?

[2018-05-07 13:58] leandroBorgesFerreira commented on #56
This doesn't make much sense. The device you are testing has animations enabled?

[2018-05-07 15:33] rajgar114 commented on #59
I am also facing the same error. I am just using it simply in my xml file as I use other buttons. Here is the code:-

<br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
                  android:id="@+id/Circular"
                  android:layout_width="match_parent"
                  android:layout_height="wrap_content"
                  android:text="Fetch"/>

Here is the e

[2018-05-07 16:41] leandroBorgesFerreira commented on #59
Hello @rajgar114. Could you please post the whole content of your XML?

[2018-05-07 18:25] rajgar114 commented on #59
Thanks
I have updated the version from
    implementation 'br.com.simplepass:loading-button-android:1.13.3'
to
implementation 'br.com.simplepass:loading-button-android:1.14.0'

and now it is working fine for me..

[2018-05-07 18:39] leandroBorgesFerreira commented on #59
Good to know it works now. What about you @francesco98?

[2018-05-08 18:33] rajgar114 opened #60 "Fetch Location Using LoadingButtonAndroid"
hey, I want to use this loading button as a progress dialog.
Means I want when user clicks it then i should fetch lat long and user should not interact with the activity and when the lat long are successfully fetched then the loading of this button should stop. How i can do that ?
Mainly i want the functionality of progress dialog with this loading button.

If i use asyn task still the user can in

[2018-05-09 00:34] alihabbash opened #61 "Unable to merge dex"
I tried many ways to get around this with no success and I tried Invalidate cache & tried to change compile sdk from 26 to 27, the same problem
This is the error I get:
[code]
and this is my dependencies

[code]

[2018-05-14 16:12] gunhansancar commented on #3
I'm having the same issue on these lines.
I'm using the current latest version '1.14.0'

Would you mind to add a null check before calling stop in `doneLoadingAnimation(int fillColor, Bitmap bitmap)` method? It seems it is the easiest solution. In my case also the state changes sometimes very quickly and it crashes on those cases with the below logs.
[code]

[2018-05-15 08:07] shubham171294 opened #62 "Button not coming in center when animating"
Hi, I tried to use this library. The button is on the left but not coming to center when the animation starts. I've used the Second Activity layout and copied a button from MainActivity.kt to SecondActivity.kt

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7660565/40044427-f24adb60-5844-11e8-8557-49537a583f67.gif)

[2018-05-15 08:15] shubham171294 commented on #62
So I've tried to solve it and found that the attribute  `android:gravity="center_horizontal"` solves it. This happens when the layout is LinearLayout. What if the layout is ConstraintLayout?

[2018-05-21 09:56] powext commented on #59
Same problem here

**Exception**:
`E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.ext.pow.poke, PID: 5099
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ext.pow.poke/com.ext.pow.poke.LoginActivity}: android.view.InflateException: Binary XML file line #0: Binary XML file line #0: Error inflating class br.com.simplepass.loading_button

[2018-05-30 14:34] tinkooladik opened #64 "Use .png as background"
Is it possible to use .png or VectorDrawable as button background?
When I try to do so, it looks like this:
![bcb3bf31-7b48-4f89-86fb-f294a4db5de7](https://user-images.githubusercontent.com/13711706/40726338-33656756-642e-11e8-8779-8e8df0b55adf.jpg)

even though corner angle was specified:
[code]

Can I make it round circular after calling `.startAnimation();` and then return back to rectangular s

[2018-06-11 11:27] ARAlmac opened #65 "how to centre rotating button after click"
I have it working although when I use circularprogressbar.startAnimation() the button loses its gravity and goes to the far left of the screen.

How can I keep it centred?

[2018-06-11 14:17] leandroBorgesFerreira commented on #65
Hello @ARAlmac. This button will respect the gravity of its parent ViewGroup. All you have to do is to use it inside a LinearLayout with center gravity and you're done.

[2018-06-12 18:05] #65 closed

[2018-06-12 22:09] arezaie14 commented on #61
I have this error too :|
what should i do?

[2018-06-12 23:42] leandroBorgesFerreira commented on #61
That looks weird. I'll take a look

[2018-06-13 02:59] alihabbash commented on #61
Yes the problem goes away when i remove the gradle dependency.
Sorry for late.

[2018-06-15 02:58] IlyaFilippov commented on #59
@powext Had the same issue right now. Do you have <ripple></ripple> in your "@drawable/button_rounded_white" file? If so, replace it with <selector></selector>

[2018-06-21 19:40] indiefr commented on #30
@Lexycon Works! Thks!!!!!

[2018-06-26 12:12] TheVishalist opened #66 "Callback required on "onDoneAnimation""
done_animation is freezing, provide a callback for done_animation, so that activity can be loaded after animation gets completed.
thanks

[2018-06-29 05:51] georgerockil opened #67 "Manifest merger failed"
gradle sync gets failed. and the issue is caused by
Caused by: java.lang.RuntimeException: Manifest merger failed with multiple errors

and any idea in rectifying this issue?

[2018-07-05 17:39] DarkS0 opened #68 "Width not changing after setting text"
Im calling CircularProgressButton.setText() on OnAnimationEndListener.onAnimationEnd() so the text changed after its reverted but the size of the view doesnt change and the text gets cut.

thanks!

[2018-07-10 10:08] gurpreetjhajj23 opened #69 "onRevert back button drawable removed and cannot be applied"

[2018-07-13 06:39] knight-shade commented on #69
Facing the same problem.
Initially the button has round corners, but after calling revert animation, it turns into rectangle button.

[2018-07-13 07:52] traifdevelopment commented on #69
The same here.... What is the solution?

[2018-07-14 16:42] ArtinGH opened #70 "button is not accessable after animation start"
hello, I'm using your Loading Button but when I set onClickListener for that to start animation and stop it by user choice but  it will being inaccessible and doesn't respond to click after animation start!

[2018-07-17 15:09] acegreen opened #71 "Custom background conflicts"
I run into two small issues with a custom background set:

1. Initial Animation
The button is already a circle with a corner radius set
When I do startAnimation() the button initial morphs to a square
then immediately morphs back to the circle (as it was initially, no size change)

2. End Animation
When I revertAnimation(), the button morphs to a square and stays that way

**Custom background**
`

[2018-07-17 18:48] acegreen commented on #71
WAs able to address both issues by setting the initial and final cornerAngle as specified in the docs. Not sure if this should be necessary since it should draw this from the background xml if set

[2018-07-17 18:48] #71 closed

[2018-07-21 20:01] nvpnair commented on #69
any solution?

[2018-07-23 05:40] Harin-Kaklotar commented on #62
@leandroBorgesFerreira @shubham171294 it works with ContraintLayout also (without LinearLayout). We have to just set
 `app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toStartOf="parent"`
constrain property in the button and it work good.

[2018-07-23 15:43] bilalhussainn commented on #69
Solution please.

[2018-08-02 10:42] jinxac commented on #59
Even I am facing the same issue. Without specifying background as drawable it works fine, but crashes when drawable is set as background.

[2018-08-07 11:54] axionnneeeel commented on #69
Use app:initialCornerAngle attribute with the "dp" of the background button.

[2018-08-07 12:11] traifdevelopment commented on #69
It works! Thank u axionnneeeel

[2018-08-10 09:56] anhnguyenthe312 commented on #53
I face this issue @leandroBorgesFerreira, with my Samsung S8+, android 8.0.
it happen when I set Error for Edittext, dialog error appear and cover CircularProgressButton
this time, morphing animation seem not smooth.
p/s: I try to record the video for you but when recording it not happen.
Maybe drawer layer effect somehow

[2018-08-15 10:46] naseemali925 opened #72 "Calling performClick Crashes The App"
I ran into this problem today. I wanted to perform a click on click programmatically so I called performClick But that crashed the app. Although I managed to do it by wrapping the functionality inside a function.

Just curious why it crashes?

[2018-08-16 12:31] leandroBorgesFerreira commented on #72
Hard to say. Can you provide the code where the crash happens?

[2018-08-27 18:50] MaildoLP commented on #49
hi, I had the same problem, but I just set the background to the XML again, and the border goes back to the start.
setBackground(ContextCompat.getDrawable(MainActivity.this, R.drawable.button_shape_default_rounded));

[2018-08-29 21:11] leandroBorgesFerreira commented on #69
I am glad it worked. Sorry I didn't respond this issue, I was super busy these last days.

[2018-08-29 21:11] #69 closed

[2018-09-04 08:11] AlexandrPuryshev opened #73 "Copy - Crash when calling doneLoagingAnimation before start animation ends"
Issue is still here.
[Issue](https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/3)
https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/3#issuecomment-388874137

Often issue on android 8.0

[2018-09-14 15:37] fire1 commented on #3
Same here ....

[2018-10-05 04:14] hockleongloh commented on #70
Hi, I'm facing the same issue as well. Is there any solution?

[2018-10-05 09:01] ArtinGH commented on #70
What I'm doing now is setting onClickListener on it and start animation and when my work is done, I do stop it by calling stopAnimation().

[2018-10-05 10:32] hockleongloh opened #82 "Customize loading button"
Hi, I would like to ask is there anyway to customise the loading height and width after startAnimation()?

[2018-10-08 07:52] Thien658jjh opened #83 "setSelected was disable ??"
Change background color when pressed or selected are not working with CircularProgressImageButton

[code]
[code]

[2018-10-09 21:24] romreviewer opened #84 "Null on IsDone"
I am Seeing this issue in my fabric please fix it or help me fix it it very common among users
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void br.com.simplepass.loading_button_lib.a.a.stop()' on a null object reference
       at br.com.simplepass.loading_button_lib.customViews.CircularProgressButton.doneLoadingAnimation(CircularProgressButton.java:297)

[2018-10-16 07:09] davidHarush opened #85 "minSdkVersion"
Hey you can lower minSdkVersion to 16 ?
It will help me a lot.
Thanks...

[2018-10-17 17:14] leandroBorgesFerreira commented on #85
Sorry David, some parts of the code need the minSdkVersion to be 19 =|. But you can clone this repository and remove then, it wouldn't be hard

[2018-10-24 13:51] ashu5398 opened #87 "stopAnimation method is not working"
How to handle animation event when there occurs any error and we want user to try again with the button because doneLoadingAnimation() removes the accesibility from button.

[2018-10-25 10:33] davidHarush commented on #85
Ok, thanks.

[2018-11-22 15:19] votruk commented on #59
I have the same problem.

I have my own view that extends from `CircularProgressButton`. When I try to set to background drawable with Ripple effect crash happens.

The problem occurs when `loadGradientDrawable` is called. It tries to find RippleDrawable in if-else-if cases but there are no such case. And next code is executed:

[code]

Everything is working fine in 1.12.1 version though.

[2018-12-01 00:05] Arcires commented on #21
@enzolupia
Likewise, I have the same issue as you do. However, as per [this Issue](https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/30), it seems defining `initialCornerAngle="20dp"` solves this issue. It's not the ideal solution, but on a tight schedule, it does the job.

[2018-12-02 17:56] votruk commented on #51
I have the same issue. Not only on emulator but on Samsung Galaxy s3 too

[2018-12-02 18:38] votruk commented on #51
In my case crash happened when I have no target in ObjectAnimator that animates corners because mGradientDrawable for that moment equals to null. Solved by assigning some drawable in xml as a background.

[2018-12-04 18:34] dekaru opened #88 "Make CircularProgressButton.Params protected so we can extend this class"

[2018-12-28 07:05] regogo opened #90 "use androidx libraries instead of appcompat"
recently migrated to androidx libraries, im getting dependency errors from appcompat.

[2018-12-28 22:06] leandroBorgesFerreira commented on #90
PR #89 solves this issue

[2019-01-04 21:01] leandroBorgesFerreira commented on #83
It is not possible really use a selector as a background for this button.

The only `drawable` that accepts the animations that are performed in this button is `GradientDrawable`. So you can only have single colour in the button.

This is a limitation of the Android SDK. There's no setCorner in other drawables. This can't be fixed, but you can change the background on the button manually as a work

[2019-01-04 21:05] leandroBorgesFerreira commented on #64
Yes, sorry. You can't. This button only accepts solid colors

[2019-01-04 21:11] leandroBorgesFerreira commented on #70
The button gets not clickable when is it performing the animation. The behaviour of clicking on it while it is animating wasn't considered.

I'll add a field to make it still clickable during animation

[2019-01-04 21:12] leandroBorgesFerreira commented on #66
Nice idea. Sorry for the late response. I'll do that in the version 2 of the button

[2019-01-05 06:08] leandroBorgesFerreira commented on #90
PR #91 also solves this

[2019-01-07 00:59] leandroBorgesFerreira commented on #90
This problem got solved in the 2.0.0 version of this library. Please try this new version.

[2019-01-07 00:59] #90 closed

[2019-01-07 01:00] leandroBorgesFerreira commented on #87
You could use the revertAnimation and make the button the get back to the original state. Wouldn't this work?

[2019-01-07 01:06] leandroBorgesFerreira commented on #84
Hello  @Sanchit43. Sorry for taking too long to answer your issue. This library was updated and the code was completely rewritten in the version 2.0.1. Could you update the library and let me know if the problem still exist?

[2019-01-07 01:08] leandroBorgesFerreira commented on #88
Hello @dekaru. This library was update and the Params no longer exists. So a I believe this issue doesn't make sense anymore. I am closing it, but if you need any assistance to solve a problem that you may be having, please let me know.

[2019-01-07 01:08] #88 closed

[2019-01-07 01:11] leandroBorgesFerreira commented on #64
It is not possible to improve this library to accept `.png` because the only drawable that works with the morphing animation if the `GradientDrawable`.

Since this problem can't be fixed, I am closing the issue. Please fell free to reopen it if you think there's a way to fix it.

[2019-01-07 01:11] #64 closed

[2019-01-07 01:13] leandroBorgesFerreira commented on #68
Hi @DarkS0. Have you tried to change the width of the button before changing the text? I don't think this problem would be different with the normal android button. You button needs to be bigger than the text, after all.

[2019-01-07 01:14] leandroBorgesFerreira commented on #60
I am closing this issue since it is not related to the library.

[2019-01-07 01:14] #60 closed

[2019-01-07 01:16] leandroBorgesFerreira commented on #53
Hello guys. it is really hard to debug this problem without any image of whats going on... It runs just fine on my emulator =|

[2019-01-07 01:30] leandroBorgesFerreira commented on #5
This problem was already fixed. The button accepts animation commands before the screen get drawn and waits for the right time for the animation to start.

[2019-01-07 01:30] #5 closed

[2019-01-07 01:39] leandroBorgesFerreira commented on #46
I am closing it since there's almost a year without answer

[2019-01-07 01:39] #46 closed

[2019-01-07 01:51] leandroBorgesFerreira commented on #3
This problem was corrected prior version 2.0.0. Just tested with a stop and done animation being called before the start animation ends and no problem happens. Fell free to reopen the issue if you still experience this bug.

[2019-01-07 01:51] #3 closed

[2019-01-07 01:52] leandroBorgesFerreira commented on #73
This problem was corrected prior version 2.0.0. Just tested with a stop and done animation being called before the start animation ends and no problem happens. Fell free to reopen the issue if you still experience this bug.

[2019-01-07 01:52] #73 closed

[2019-01-07 01:53] leandroBorgesFerreira opened #94 "If stop animation gets called too fast, animation doesn't stop."
It the `stop()` method get called before startAnimation gets completed, the button enters in a inconsistent state.

[2019-01-07 23:11] leandroBorgesFerreira commented on #37
The minSdkVersion of this library is 16 now prior to the 2.0.0 version. There was a way to keep the compound drawables and use minSdk 16, after all.

[2019-01-07 23:11] #37 closed

[2019-01-08 19:01] #94 closed

[2019-01-08 22:40] leandroBorgesFerreira opened #99 "Make buttons open"
Request made by @regogo. Making CircularProgress button and CircularProgressImageButton `open` would make then extendable.

[2019-01-09 17:35] #99 closed

[2019-01-09 21:02] leandroBorgesFerreira opened #101 "Add integration test in Travis-CI"
The PR #89 have integration tests. This library needs the integration tests to run on Travis-CI to make sure that the integration tests added keep corrected as more code is added here.

[2019-01-09 21:03] leandroBorgesFerreira commented on #101
Seggested by: @wokkaflokka

[2019-01-11 17:06] wokkaflokka opened #102 "Suggestion: Use Androidx Lifecycle to Internalize Disposal of Retained Memory"
README currently mentions the requirement of calling dispose in `onDestroy` to avoid leaking memory. This library might be able to make use of the `androidx` lifecycle components in a way where memory management can be internalized by the library, rather than pushed to consumers.

[2019-01-11 18:45] wokkaflokka commented on #101
Resolved by https://github.com/cavega/LoadingButtonAndroid/pull/1

[2019-01-11 20:49] vapoyan opened #104 "Button Disabled state does not work"
Look like that `android:enabled="false"` is ignored for this button
[code]

[2019-01-12 01:43] leandroBorgesFerreira commented on #104
This button keeps the same behaviour of `AppCompatImageButton`. `android:enabled="false"` is also ignored for `AppCompatImageButton`, if you need to set this button as disabled, you can do it programatically. Like this:

[code]

[2019-01-12 03:45] venkat8995 opened #105 "documentation - Explain about Andoidx support"
- [ ] Manifest merger failed

: Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appComponentFactory"' to <appli

[2019-01-12 11:13] leandroBorgesFerreira commented on #85
Actually, the minSdkVersion got changed to 16, turns out that it was possible.

[2019-01-12 11:13] #85 closed

[2019-01-12 11:19] leandroBorgesFerreira commented on #105
Hello @venkat8995. Could you paste the code of your `build.gradle`?

It seams that you're trying to use the version 2.0.+ of this library with the android support library. Prior to the 2.0.0 version, this button only accepts androidx. If you need to use this button with android support library, use the 1.14.0 version.

[2019-01-12 11:22] leandroBorgesFerreira opened #106 "Documentation: State"
README should contain information about the `State` of the button explaining each one

[2019-01-12 11:36] leandroBorgesFerreira commented on #102
@wokkaflokka I don't have much experience with the new Androidx Lifecycle. Could you open a PR showing how this could be done or give further explanations?

[2019-01-12 17:59] wokkaflokka commented on #102
👍 will do.

[2019-01-13 10:18] vapoyan commented on #104
Thanks for answer

[2019-01-13 10:18] #104 closed

[2019-01-14 02:17] aphexcx opened #107 "Can't seem to set text on the button in 2.0.6"
`android:text="foo"` from XML doesn't work (button shows up blank) and I can't seem to call button.setText either (this method doesn't exist). Kind of a silly question, but how do I make text show up on the button?

[2019-01-14 11:00] leandroBorgesFerreira commented on #107
I just tested and the text seams to work fine in the 2.0.6 version.

Can you provide more details? Could you paste the XML and the code to reproduce the problem?

[2019-01-14 19:37] aphexcx commented on #107
Here you go!

[code]

And here's the style:
[code]

The result is:
![screen shot 2019-01-14 at 11 37 20 am](https://user-images.githubusercontent.com/2283165/51136223-cbc84380-17f0-11e9-9f3e-e39f6b706718.png)

[2019-01-15 02:46] leandroBorgesFerreira commented on #107
Hey, try `CircularProgressButton` instead of `CircularProgressImageButton` if you need text instead of images =)

[2019-01-15 14:14] #101 closed

[2019-01-15 20:36] leandroBorgesFerreira opened #109 "Pre commit hook for lint"
It would be good to have a pre commit hook for running lint before commiting to the repo. Although this is not mandatory, it can make the life of contributors a lot easier.

[2019-01-15 20:36] leandroBorgesFerreira commented on #109
@cavega

[2019-01-17 03:41] cavega commented on #109
@leandroBorgesFerreira PR submitted :)

[2019-01-18 07:02] leandroBorgesFerreira commented on #109
Merged

[2019-01-18 07:02] #109 closed

[2019-01-18 09:44] leandroBorgesFerreira commented on #107
I'm closing this issue as it doesn't seam to be a problem with the library. Fell free to reopen it if you think there's still a problem

[2019-01-18 09:44] #107 closed

[2019-01-22 12:19] leandroBorgesFerreira commented on #51
This library was reimplemented. Try to use the version 2.0.6 instead of 1.14.0.

[2019-01-23 10:02] davidHarush commented on #105
I think it would be a good idea to write it down in the `README.md`

[2019-01-23 10:35] mul1sh commented on #105
@leandroBorgesFerreira I think this is necessary because i also ran into the same issue

Nonetheless thanks for the great work in this lib 🙂

[2019-01-23 14:14] jdejesus11 opened #111 "Issue instanciating button"
btn = (CircularProgressButton) findViewById(R.id.btn_id);

        btn.setProgress(5);

        btn.startAnimation();

------------------------------------------------------------------------------------------------------------------

E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.example.juandejesus.favoritetoys, PID: 494
                  kotlin.UninitializedPropertyAcces

[2019-01-23 17:26] leandroBorgesFerreira commented on #111
`btn.setProgress(5);` is not supposed to be called before startAnimation. Call it after. Like this:

[code]

[2019-01-23 17:26] leandroBorgesFerreira commented on #111
Anyway, I will improve the error message

[2019-01-23 19:25] #106 closed, assigned to nobody

[2019-01-24 15:40] AlexGZC opened #114 "Loading Button loading state"
Hi, i am trying to set the library.
There are two things that i would like to do properly:

1. how to keep circle in the middle of screen, because it moves to the left when is started?

2. How to return the original button state, I have been trying to set what you have told onto readme, however Stops and reverse are not working, can you help me?

[2019-01-24 16:13] leandroBorgesFerreira commented on #114
1 - The button respects the gravity of the parent view. Use it inside a LinearLayout with center gravity.

2 - If you just want to revert to the initial state, just call `revertAnimation` without calling `stop`. If it does't work, provide the code that you're using.

[2019-01-28 06:32] dineshmm23 commented on #114
Hi @leandroBorgesFerreira , I am having trouble calling `revertAnimation` in java.

Is this possible to use it in java or is any other method to return the original button state.

[2019-01-28 09:21] cdongieux commented on #59
Same problem here with version 2.0.7 when I try to apply the `Widget.MaterialComponents.Button` style:
[code]
In `Utils.parseGradientDrawable` the drawable is a RippleDrawable, so the `else` branch of the `when` throws a RuntimeException.

[2019-01-28 14:03] leandroBorgesFerreira commented on #114
Uhm, did you try to use `null`? If you don't need any behaviour of the animation complete, null should be fine

[2019-01-28 14:17] leandroBorgesFerreira commented on #114
Actually, don't use `null`. You can just use a simple lambda. Like this:
[code]

[2019-01-28 15:21] AlexGZC commented on #114
Hi @leandroBorgesFerreira , thanks for the help.
Now i could keep circle non the center, however, I have not been able to call revertAnimation because says that you have to set some params onto function.
Is this the same thing as above?

[2019-01-28 19:36] leandroBorgesFerreira commented on #114
Yes. It is the same as the dineshmm23, if you're using Java. I should add some documentation for Java usage

[2019-01-28 19:37] leandroBorgesFerreira commented on #114
Just add a lambda in the callback and you'll be fine

[2019-01-30 10:34] Qw4z1 commented on #111
I can now reproduce this crash consistently in our app. Still not sure what is going on, but my gut tells me that it has something to do with how we use it in a fragment. Clicking on it opens the BankID app (Swedish authentication app) with a `startActivityForResult` and when backing out of the BankID app (i.e. returning) to our app the crash happens.
I'll try to see if I can put together a sample

[2019-01-30 12:31] leandroBorgesFerreira commented on #114
Wrong reference

[2019-01-30 18:45] leandroBorgesFerreira commented on #105
Done

[2019-01-30 18:45] #105 closed

[2019-01-31 09:09] dineshmm23 commented on #114
I tried with this, it works
[code]

[2019-01-31 10:29] NicolasDucom opened #117 "Callback in onAnimationEnd() for startAnimation()"
Hi !
When I click on the button and send a network call, I'd like to be able to wait for the button to finish animating using a callback like for the revertAnimation() call before sending my request,  would that be possible ?
Thank you !

[2019-01-31 14:09] leandroBorgesFerreira commented on #117
Hi @NicolasDucom the Button doesn't have support for this yet, but it is very to do. Why don't you open a PR for this? Shouldn't take long

[2019-01-31 14:15] NicolasDucom commented on #117
Sure ! No problem 👍

[2019-02-01 01:41] leandroBorgesFerreira commented on #111
@Qw4z1, if you reproduce the error, we can work on the solution. I'll try to see if it breaks with a startActivityForResult interaction

[2019-02-01 15:24] Qw4z1 commented on #111
@leandroBorgesFerreira I've managed to track down the crash now. It happens when we set the button to animate too early in the lifecycle. What we really want to do is to set it to it's loading state directly.

It's easy enough to reproduce if you add this to MainActivity in the sample app included in this repo.

`override fun onResume() {
        super.onResume()
        buttonTest1.startAnimation

[2019-02-05 14:21] leandroBorgesFerreira commented on #111
@Qw4z1 This is not supposed to happen as the button handles this use case. Anyway,  I will test and fix it. Right now I am in the middle of a travel and I don't have a computer with me... So it may take a few days.

[2019-02-05 14:23] leandroBorgesFerreira commented on #117
I am on a trip right now. I will release a new version as soon as I am back. Just a few days.

[2019-02-07 08:35] Qw4z1 commented on #111
@leandroBorgesFerreira Appreciate it. =) Thanks for getting back to be even though you're traveling =)

[2019-02-14 14:24] flo5324 opened #119 "lateinit property initialState has not been initialized"
Hi,

I encountered a problem with CircularProgressButton
I wanted to try the behavior of my button, so I called startAnimation() in the onCreate() but I get this exception : lateinit property initialState has not been initialized
If I call it after (like in an onClickListener) it works fine

As sample I used a simple project with an empty activity :
[code]
[code]
kotlin 1.3
AndroidX
LoadingButtonA

[2019-02-15 10:53] cdongieux opened #120 "Cannot change image when calling doneLoadingAnimation() a second time"
Hi,

I'm using your button to launch an action that might succeed or fail.
When it succeeds, I call `doneLoadingAnimation(colorSuccess, bitmapSuccess)`, and when it fails I call `doneLoadingAnimation(colorFailure, bitmapFailure)`.
The first time I click the button, if the action fails the animation displays as expected. But after that if the action succeeds, the animation does *not* displays as ex

[2019-02-15 17:32] leandroBorgesFerreira commented on #120
@cdongieux I will take a look at this behaviour. Unfortunately I am taking care of some personal matters, so it may take some time =/

[2019-02-16 08:13] tommytcchan commented on #111
Also seeing this -- would love to see if a fix can be applied, thanks!

[2019-02-23 07:49] dineshmm23 opened #122 "Need Prograud Config?"
java.lang.IllegalArgumentException: Parameter specified as non-null is null: method b.a.b.g.b, parameter bitmap
        at br.com.simplepass.loadingbutton.customViews.CircularProgressButton.a(Unknown Source:2)
        at com.entriver.giffy.fragment.OtpVerificationFragment$2.a(Unknown Source:262)
        at e.h$a$1$1.run(Unknown Source:41)
        at android.os.Handler.handleCallback(Handler.java:7

[2019-02-25 14:20] balamuthu1 commented on #119
having the same issue when calling dispose()

[2019-02-26 13:22] flo5324 commented on #119
So, for those who have the same issue
I found a workaround :
[code]

[2019-02-26 19:52] leandroBorgesFerreira commented on #122
Hello, could you provide more context and detail? It is hard to understand the problem just with the stack trace.

[2019-03-01 06:47] dineshmm23 commented on #122
Sorry , not provide details.

[code]
When using the above method without any progaurd rule...it carshes the app..

So currently I don't know what progaurd rules to add to it...so if possible any `Proguard rules` if add may fix the issues I think...

[2019-03-06 11:37] jahongir9779 opened #124 "."

[2019-03-07 05:53] jahongir9779 commented on #33
Hi, is this issue fixed? bcoz I'm still having the same problem on version 2.0.7. When I use setBackgroundColor() the button looses round corners

[2019-03-08 13:11] #124 closed

[2019-03-16 09:43] #102 closed

[2019-03-20 12:49] Joesta opened #125 "android.app.v7.widget.AppCompatButton cannot be android.support.v7.widget.AppCompatButton cannot be cast to br.com.simplepass.loading_button_lib.customViews.CircularProgressButton"
I am using version 1.14.0 version. I tried using 2.1.0 and it causes AAPT 2 error:
<br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
        android:id="@+id/sign_in_button"
        android:layout_width="304dp"
        android:layout_height="wrap_content"
        android:layout_marginEnd="16dp"
        android:layout_marginStart="16dp"
        android:layout_marginTop="8dp"

[2019-03-20 13:14] leandroBorgesFerreira commented on #125
Could you provide the full stack trace?

[2019-03-21 13:56] Faltenreich commented on #61
I have gotten this error for several other dependencies as well and "fixed" it every time by simply rebuilding. Not sure what this is really about since my solution is nothing more than a workaround.

[2019-03-25 07:29] Joesta commented on #125
Hi @leandroBorgesFerreira here's the stack trace.

Fatal Exception: java.lang.ClassCastException: android.support.v7.widget.AppCompatButton cannot be cast to br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
       at com.app-package.fragments.FragmentLogin.iniUIComponents(FragmentLogin.java:122)
       at com.app-package.fragments.FragmentLogin.onCreateView(FragmentLogin.jav

[2019-03-26 06:48] qiushui95 opened #126 "build failed"
![image](https://user-images.githubusercontent.com/22932494/54976694-14ad2d00-4fd6-11e9-9171-27606c8b841f.png)
So I can't implementation it.
version:2.1.0

[2019-03-26 06:59] leandroBorgesFerreira commented on #126
The pipeline is failing due some flaky tests, but the build is normal. The library works fine

[2019-03-26 06:59] #126 closed

[2019-03-26 14:43] qiushui95 commented on #66
I need it, too.

[2019-04-17 12:19] paulsUsername commented on #119
Yes, I am getting the same issue. I have a CircularProgressButton inside a DialogFragment.

It appears that it is only observing the lifecycle of the underlying activity, therefore, it crashes as soon as the activity ends, as the button has been disposed of but the lifecycle listener is still alive.

Any ideas for a workaround?

[2019-04-17 13:36] paulsUsername commented on #119
I have resolved this issue by adding the bottom programmatically and passing in the context of the Dialog Fragment instead of the activity context it seems to be receiving via XML.

Adding it like so:

`val height = (35).scaleToDP(safeContext)
    val width = (150).scaleToDP(safeContext)
    val layoutParams = LinearLayout.LayoutParams(width, height)
    val button = CircularProgressButton(safeCon

[2019-04-21 01:13] MuriloCalegari commented on #120
Any known workarounds?

[2019-04-22 06:44] nikulcears opened #128 "progress of button is not showing"
i am use this button and its work fine, but when i'm download file and setprogress for button then button not starting its progress. if i'm called startanimation() then button converted to circular progress but after starting animation i'm called .setProgress(value) then button not showing its progress please help me :(

[2019-04-25 17:46] leandroBorgesFerreira commented on #120
This should be fixed in the 2.1.1 version

[2019-04-25 17:47] leandroBorgesFerreira commented on #42
This should be fixed in version 2.1.1

[2019-04-25 17:47] leandroBorgesFerreira commented on #34
This is fixed in version 2.1.1

[2019-04-29 11:36] Devenom1 opened #129 "How do I implement a simple indeterminate loading on click of the button?"
I need to start the indeterminate circle loading animation on click of a button, make a network call and stop the loading animation after getting a response from the network call and reset the button to its previous state. I know it seems very simple but I could not manage to do it even with  the documentation.

Could someone help me out with this?

[2019-04-29 12:35] cdongieux opened #130 "ClassCastException when applying a theme"
Hi,

I have a crash when a theme is applied to the `CircularProgressButton` in the XML declaration.
The crash:
[code]

The XML extract:
[code]

Here is the theme:
[code]

If the theme is not applied, everything works fine.

In your `Context.addLifecycleObserver()` extension you should make a recursive call on `baseContext` until it is actually a `LifecycleOwner`, and don't assert `baseContext` is

[2019-04-30 05:26] leandroBorgesFerreira commented on #130
Hello Christophe. Thanks for the tip. I'll take a look at this soon.

[2019-05-02 10:38] dennismunene commented on #67
Also facing same issue, did you find a solution?

[2019-05-02 11:16] dennismunene commented on #67
Migrating to AndroidX  solved the issue for me :)

[2019-05-03 17:56] amannepid commented on #130
I am also facing the same issue when applied theme in BottomSheetDialogFragment. When can we expect the solution ?

[2019-05-14 16:58] ueen opened #133 "The Doc is misleading"
First, it says to use an ImageButton to created in the XML and then casts a Button, this causes the app to crash if you follow the sample code!!

[2019-05-14 20:37] leandroBorgesFerreira commented on #133
That's true =/. I'll fix that this week.

[2019-05-14 21:47] ueen commented on #133
Also, there seems to be an issue with startAnimation(*) it requires a storage *Function<> i can not provide (implemented according to docs with Java in AndroidStudio with AndroidX, everything uptodate) :/

[2019-05-15 03:57] leandroBorgesFerreira commented on #133
Fixed the documentation. Can you provide the code that you are trying to use?

[2019-05-15 03:59] leandroBorgesFerreira commented on #130
This is fixed in the version `2.1.1`

[2019-05-15 04:04] leandroBorgesFerreira commented on #122
Proguard normally only remove code that doesn't have direct access... like reflection stuff. That's odd... I'll take a look

[2019-05-15 09:06] ueen commented on #133
Ok, closely followed the doc on a clean Project in latest Android Studio (Java), AnroidX, everything uptodate,

startAnimation() gets a "Cannot resolve" Annotation

This is the compile errormessage:

error: method revertAnimation in class CircularProgressButton cannot be applied to given types;
required: Function0<Unit>
found: no arguments
reason: actual and formal argument lists differ in length

[2019-05-16 07:58] leandroBorgesFerreira commented on #133
This will work:
[code]

[2019-05-16 07:59] leandroBorgesFerreira commented on #133
This library was optimized to Kotlin, sorry do you have to use those callbacks... Java doesn't recognize the default values

[2019-05-16 08:16] cdongieux opened #134 "UninitializedPropertyAccessException happens if View is GONE"
Hi,

A `UninitializedPropertyAccessException` is raised during LifecycleOwner destruction (e.g. Activity finishes) when the button visibility is `View.GONE`.
An easy way to reproduce this issue is to set a `CircularProgress*Button` XML property `android:visibility` to `gone`, launch the Activity holding this button, and press the Back navigation button.

Stack trace:
[code]

In your implementation

[2019-05-16 09:04] ueen commented on #133
`btn.startAnimation(() -> null);`
Lambda expressions are not supported at language level '7'
Also
`btn.startAnimation(null);`
Ambiguous method call. Both
startAnimation
(Function0<Unit>)
in CircularProgressButton and
startAnimation
(Animation)
in View match

[2019-05-16 09:16] hamutarto opened #135 "Is it possible to align the loader into the center if the width of the button is bigger when the loading started."
Hey!

My plan is to modify the library to have a certain width when the loading started. Actually removed the width animation to stay in the original width. However, in this scenario, the loader is drawn at the left side of the button, not in the center. Is there any way to move it to the center?

Thanks in advance!

[2019-05-16 09:38] ueen commented on #133
One more issue tough, after reverting the Animation, the Button loses its original rounded corners, is there a way to get the Button back its original idle state?

[2019-05-16 16:02] leandroBorgesFerreira commented on #133
Yep, there is. Try: `app:finalCornerAngle`. That's the one if I remember correctly.

[2019-05-16 16:05] leandroBorgesFerreira commented on #134
Oh my... I totally didn't consider onDraw not being called if the visibility is `GONE`. I'll take a look at this one.

[2019-05-16 16:09] leandroBorgesFerreira commented on #130
Actually, it not hahaha. Sorry, I mixed the versions and issues.

[2019-05-16 16:18] leandroBorgesFerreira commented on #130
Try the version `2.1.2` the problem should be fixed thanks to @cdongieux

[2019-05-16 17:53] soareseneves opened #136 "Loading Button With Drawable and Text"
Hey there,

I was hoping you could implement a new type of button that holds an image and a text together. CircularProgressButton almost works, I can set a LeftDrawable and the Text but they are very distant from each other and "wrap_content" is not an option because my button has to have a fixed size :/

Do you think you can implement this?

[2019-05-16 20:23] leandroBorgesFerreira commented on #128
What is the value that you're passing?

[2019-05-16 20:26] leandroBorgesFerreira commented on #119
It took me 3 months to see this issue o.O. I'll be taking a look

[2019-05-16 20:27] leandroBorgesFerreira commented on #117
This is fixed, right?

[2019-05-16 20:27] #117 closed

[2019-05-16 21:47] leandroBorgesFerreira commented on #119
Use the version `2.1.3`, this is fixed in that one =]

[2019-05-16 21:59] #134 closed

[2019-05-16 22:04] #120 closed

[2019-05-16 22:04] #130 closed

[2019-05-16 22:05] #114 closed

[2019-05-16 22:07] leandroBorgesFerreira commented on #84
I am closing as I cannot reproduce it easily. If you still have this problem, please reopen it.

[2019-05-16 22:07] #84 closed

[2019-05-16 22:41] leandroBorgesFerreira commented on #133
Or maybe initialCornerAngle... One of the two.

[2019-05-18 18:19] ardevd commented on #133
When I try to do `button.startAnimation()`

[code]

[2019-05-18 18:23] ardevd commented on #133
Using lambdas also result in errors for me:
[code]

[2019-05-24 13:30] ueen commented on #133
Both also changes the loading shape, which is not what I want, as it should stay round.

[2019-05-26 16:06] minhduc0711 commented on #133
Hi, I am also using Java and I ran into another problem at this line:
`btn.startAnimation(() -> null);`
`Cannot resolve method 'startAnimation(<lambda expression>)`

Can you help me? Thanks.

[2019-05-28 11:50] deepakbaliga opened #140 "Text not changing after revert Animation"
Hello there, I am trying to set different texts based on whether an operation was successful or not. It fails to change the text and looks like it only changes the text for about less than half a second and goes back to the default text (or the first set `text).
[code]

Here is an example.

[2019-05-31 06:06] dexterleng commented on #140
Running into this as well.

[2019-05-31 18:29] Pegeot opened #141 "revertAnimation() callback not called (2.1.3)"
Version: br.com.simplepass:loading-button-android:2.1.3

The callback _onAnimationEndListener_ passed by parameter to function revertAnimation is not being called.

[2019-06-02 20:54] leandroBorgesFerreira commented on #141
fixed in version 2.1.5.

[2019-06-02 20:54] #141 closed

[2019-06-02 20:54] leandroBorgesFerreira commented on #140
fixed in version 2.1.5

[2019-06-02 20:54] #140 closed

[2019-06-11 13:38] itsibee opened #142 "Doc does not properly explain Usage for Java"
I updated to version 2.1.5 and I cant get it to work.
startAnimation and revertAnimation requires parameters written and Kotlin and its not clear how to replicate it for JAVA. In some issues it advices to use ()-> null as parameters but It didn't because it says the library doesn't recognize lamda functions. Can you please add the correct usage of this for JAVA.

[2019-06-11 13:54] itsibee commented on #114
I tried this and it didn't work for me. Please add some documentation for Java

[2019-06-12 14:45] hshahdoost opened #143 "Using in recyclerview"
In a large enough recycler view after the state of a loading button is changed to done, by scrolling down and up you can see that the icon inside the button and the background color is restored to the initial state.

[2019-07-09 06:57] Linas3000 opened #144 "Memory Leak when used in fragment(2.1.5 version)"
Hi,
CircularProgressButtonView will create memory leak in case when Activity has multiple fragments and one of Fragments implements CircularProgressButtonView.  Memory leak will happen because LifecycleObserver is connected to Activity but not with a fragment that implemented it. So CircularProgressButton will have strong reference to Activity and the fragments won't release until activity is not

[2019-07-09 11:52] leandroBorgesFerreira commented on #144
makes sense, I'll take a look at this.

[2019-07-09 11:53] leandroBorgesFerreira commented on #143
Sorry for the late response, I'll take a look at this problem

[2019-07-09 11:53] leandroBorgesFerreira commented on #142
Sorry, this library it not working very well with Java right now, I have to improve the compatibility

[2019-07-09 18:22] gkhnnylmz opened #145 "Implementation Error"
ERROR: Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appComponentFactory"' to <appli

[2019-07-12 00:38] MuriloCalegari commented on #141
@leandroBorgesFerreira, version 2.1.5 did not fix this issue

[2019-07-16 14:57] supergenedy commented on #87
revertAnimation makes the button return to the original state but it removes the background style and the button appears with no corners and when I set the background style programmatically and startAnimation again the button keeps the style and the progress appears with corners  .. How to solve this please ?

[2019-07-17 06:58] Ashley20 opened #146 "Where is this file?"
Where is that circular_border_shape file?

[2019-07-26 20:59] MuriloCalegari commented on #141
Hi @leandroBorgesFerreira, is this going to be fixed? What is the procedure for debugging it?

[2019-07-26 21:19] MuriloCalegari commented on #141
At:

[code]

onAnimationEnd() is never called when it is supposed to be. But if I reclick the button after the animation has ended, then onAnimationEnd() is called and consequently onAnimationEndListener() works.

[2019-07-28 06:29] PasanBhanu commented on #145
Please upgrade to AndroidX support or use the old implementation. Please refer [this thread](https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/105) for more information.

[2019-07-30 06:20] someAndroidDeveloper opened #147 "Cant remove the shadow"
Hi.
I could not find any elevation attribute for removing the shadow.
Is there anyway to do this?

[2019-08-05 08:20] #125 closed

[2019-08-23 16:21] Ahmed-Adel-Ismail opened #148 "lateinit property initialState has not been initialized in version 2.1.4"
the same issue here :
https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/119

is happening on version 2.1.4, not fixed yet ... these are the logs :

Caused by: kotlin.UninitializedPropertyAccessException: lateinit property initialState has not been initialized
at br.com.simplepass.loadingbutton.customViews.CircularProgressButton.access$getInitialState$p(CircularProgressButton.kt:

[2019-08-25 22:22] DeveloperMohamedHelmy commented on #148
The issue here, still happening on 2.1.5

[2019-08-25 23:07] DeveloperMohamedHelmy commented on #148
The problem happened for me when I observe loadingLiveData to start or stop animation if I transaction another fragment and back to the fragment that included the CircleProgressButton it's start to observe loadingLiveData variable again and get the last value and try to revert morph animation while the current state is stop so it's crashes and give the above error.

I solved this problem by check

[2019-08-30 18:07] striker2x2 commented on #147
Me to i need a button whitout shadow

[2019-09-25 20:42] flipnovidade commented on #59
I am having a problem.
Android: 4.4 KitKat
Device: All
Android Studio 3.4.2
Build # AI-183.6156.11.34.5692245, built on June 27, 2019.
JRE: 1.8.0_152-release-1343-b01 x86_64
JVM: JetBrains 64-bit OpenJDK Server VM s.r.o
macOS 10.14.4

Error Occurs When Creating Layout in xml

[code]

[code]

[2019-09-25 20:44] flipnovidade commented on #59
I will try to migrate to

implementation 'br.com.simplepass: loading-button-android: 2.1.5'

androidX

and communicate if it works.

[2019-09-26 15:08] flipnovidade commented on #59
Hi

works

removed

[code]

[2019-09-30 17:03] bennnjamin commented on #135
Hello, I have this same requirement and spent some time figuring it out. You will have to fork/clone the project to do this. The file you need to edit is ```CircularProgressAnimatedDrawable.kt``` in the ```fun onDraw(canvas: Canvas)``` method you need to add this line:

[code]

See the file here: https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/blob/bc24bfe276bfb6bd3f76cd6e38af877d248

[2019-10-14 22:37] Milchschlumpf opened #149 "revertAnimation changes button appearance"
Before the first click, the button has round corners. When I call revertAnimation the button changes his appearance without round corners. Tested it without anything special. No background. Just the normal button.

[2019-10-22 22:45] leandroBorgesFerreira commented on #149
Can you provide the code for the xml?

[2019-10-23 17:18] Milchschlumpf commented on #149
Sure:

<br.com.simplepass.loadingbutton.customViews.CircularProgressButton
                android:id="@+id/btnLogin"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:text="@string/login"
                android:backgroundTint="@color/colorAccent"
                android:

[2019-10-30 21:37] leandroBorgesFerreira commented on #149
You didn't set the `app:finalCornerAngle` in the XML. Just include `app:finalCornerAngle="50dp"` and it will work as expected.

[2019-10-31 11:43] somesh-basicx opened #150 "Dynamically setting text doesn't reflect after reverting animation"
I am using CircularProgressButton in XML like this
`<br.com.simplepass.loadingbutton.customViews.CircularProgressButton
        android:id="@+id/btnSelfCheckInCheckOut"
        style="@style/Widget.MaterialComponents.Button"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:visibility="gone"
        app:layout_constraintBottom_toBottomOf="pare

[2019-11-01 09:47] leandroBorgesFerreira commented on #150
Hello @somesh-basicx. You're right, I can reproduce this bug. Thanks for catching this! I'll take a look and fix it as soon as I can. Mean while, you can workaround this by using the call back in the `revertAnimation()`:
[code]

[2019-11-01 09:50] leandroBorgesFerreira commented on #148
Sorry, taking so long for the reply. I'll take a look as soon as I can.

[2019-11-05 13:54] Angelbreath opened #151 "startAnimation(); is not working with no parameters?"
if (clickedButton.getText().equals( Common.questionList.get(index).getCorrectAnswer())) {
                //Chose correct answer
                clickedButton.startAnimation();

Cannot resolve startAnimation(); It asks for bitmap and fill color. Is that correct?

[2019-11-06 15:51] MrMak21 opened #152 "startAnimation() asks for Function0<Unit> onAnimationEndListener"
the same asks the revertAnimation(). What i am suppose to put there?

[2019-11-07 14:40] leandroBorgesFerreira commented on #152
Now you can use `revertAnimation()` in Java prior to the version 2.2.0. Please check the new version

[2019-11-07 14:41] leandroBorgesFerreira commented on #151
Now you can use `startAnimation()` in Java with no problem. Please use the `2.2.0` version

[2019-11-07 14:41] #149 closed

[2019-11-07 14:41] MrMak21 commented on #152
ok thank you very much for the fast response!!

[2019-11-07 15:54] #152 closed

[2019-11-08 12:50] #151 closed

[2019-11-15 06:15] uncledoc commented on #148
I have the same issue on android 4.2.2

[2019-12-11 21:43] GabrielFreitasP opened #153 "Property colorButtonNormal not working in CircularProgressButton"
I created a style by changing the colorButtonNormal property:
[code]
Using this on a normal button works correctly:
[code]
However, for CircularProgressButton, the button color does not change:
[code]
Does anyone know what I should do?

[2019-12-16 06:12] Kedar2391996 opened #154 "ERROR: One of setGitDir or setWorkTree must be called."
in build.gradle

[2019-12-16 06:19] Kedar2391996 commented on #154
ERROR: One of setGitDir or setWorkTree must be called.

[2020-01-08 15:28] emejia160 opened #155 "Change loading drawable"
Hi,

It is possible to change the drawable loading icon ?

[2020-01-18 17:49] CleverChuk opened #157 "Button is unresponsive after doneLoadingAnimation(int, Bitmap) is called."
I'm not sure if this is a feature or a bug. Please advise.

[2020-01-24 07:05] rishabhvjv commented on #151
startAnimation() not working with library version 1.14.0, can't use latest version as am using AppCompat in my project

[2020-01-25 09:03] somesh-basicx commented on #150
Any plan to fix this issue?

[2020-01-30 12:05] oth-libs commented on #150
the workaround doesn't work properly if the text if too big, the button width will not take as much space and so the text will be cut off

[2020-01-30 12:49] oth-libs commented on #150
@somesh-basicx I had the same issue, seems to be fixed in latest version 2.2.0

[2020-02-07 15:34] hyyu commented on #149
@leandroBorgesFerreira I found the solution for my problem here but it isn't logic.

I set the background as a rounded drawable and when the button reverts i becomes straight but keeps the color.

Why would i set initial and final rounded corners if I use an already rounded drawable to customize the button?

[2020-02-13 10:55] Frank1234 commented on #144
I created this extension method that should fix it temporary:

[code]

[2020-02-24 01:45] lmj0011 commented on #41
@Wonderpol

It would other people if could post your solution to that.

https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/146

[2020-02-27 10:30] HWSTS opened #158 "Keep the button in middle of the screen when animating"
Hi,

Is there a way to keep the button in the middle of the screen after animation start ? its going to the screen left side

[2020-02-27 10:40] samair commented on #158
Even i have the same problem..

[2020-02-27 10:45] HWSTS commented on #158
@samair I think its because of the frame layout that i use, check layout gravity its should work i will update once get solution

[2020-02-27 10:48] HWSTS commented on #158
No, still not working even when change the layout and set the layout gravity to center!

[2020-02-27 11:05] samair commented on #158
Yep, found solution, put it in a relativelayout and make the buton "layout_CenterInParent " to true and then it works.. let me know.

[2020-04-15 15:29] Kalianey commented on #119
I have the same issue with version 2.2.0, did the bug come back?

[2020-04-17 09:46] leandroBorgesFerreira commented on #158
Sorry that I took so long to answer that question. The button animation will respected the gravity of the ViewGroup it is inserted, so put it inside a LinearLayout with centre gravity would be the best idea for this view. Also, you can use relativelayout, like @samair suggested.

[2020-04-17 09:47] leandroBorgesFerreira commented on #158
I'm closing this bug since there's no correction to be done, just fix the gravity of the ViewGroup that contains this button and everything should be fine.

[2020-04-17 09:47] #158 closed

[2020-04-17 09:48] leandroBorgesFerreira commented on #155
It is not @emejia160 sorry =|. To achieve this, I believe you'll have to clone this repository and create your own implementation

[2020-04-17 09:48] #155 closed

[2020-04-19 14:51] KesWalker opened #159 "doneLoadingAnimation() does not show colour or bitmap most of the time."
When running:
`btn.doneLoadingAnimation(Color.parseColor("#ff0000"), bitmap);`
The button will transform it's shape into a circle as it should, but will not change colour or show the bitmap provided.
Strangely, this happens 90% of the time and the rest of the time it works fine :/

[2020-04-21 19:32] leandroBorgesFerreira commented on #157
Hello @CleverChuk. I'm sorry it took me so long to answer your question.

Yes, this is the expected behaviour. You must call revert `revertAnimation()` if you need to keep using the button.

I don't see this as an issue in this library, so I'm closing this. If you still think this is a problem, fell free to reopen the issue.

[2020-04-21 19:32] #157 closed

[2020-04-21 19:42] leandroBorgesFerreira commented on #159
Hello @KesWalker. Sorry that you're having this problem. I also had this problem while using `Color.parseColor("#ff0000")`. Could you try `ContextCompat.getColor(context, [someColor])`? It works fine.

[2020-04-21 19:53] leandroBorgesFerreira commented on #153
Hi Gabriel... This button currently doesn't have support for setting the background using themes. That's my mistake. For now, you'll have to use the background.

I'll look for some time add support for it.

[2020-04-21 20:33] KesWalker commented on #159
Hi @leandroBorgesFerreira. I've just tried that, the issue still persists :/
This is what I've tried:
`btn.doneLoadingAnimation(ContextCompat.getColor(getContext(),R.color.negativeRed), bitmap);`

`R.color.negativeRed` being:
`<color name="negativeRed">#ff0000</color>`

[2020-04-22 07:56] leandroBorgesFerreira commented on #159
:thinking:  could you provide a project where I can reproduce the problem? It would be much easier to debug it

[2020-04-22 10:05] KesWalker commented on #159
@leandroBorgesFerreira I've attempted to reproduce it myself in another project, but I'm unable to do so (it's working fine in the new project) which makes me think there is something wrong in my project. I have came up with a work around for me as I do not have time to investigate further, I'll close this issue but if I can reproduce the issue later, I'll be in touch & reopen :)

[2020-04-22 10:05] #159 closed

[2020-04-23 09:30] ardevd commented on #150
Is there any Java equivalent to this workaround?

[2020-04-23 09:32] ardevd commented on #140
This is still an issue for me on 2.2.0

[2020-04-26 12:17] Swati-soni-14 commented on #150
@ardevd Did you get the solution? I need to set text after revert Animation. Text Setting and being changed as defined in XML class

[2020-04-26 18:15] ardevd commented on #150
@Swati-soni-14 No, I haven't found a solution yet.

[2020-04-27 20:05] jonbhanson opened #160 "Memory leak"
I am getting a memory leak when I navigate away from a fragment that contains the progress button. Here is the LeakCanary dump:

┬───
│ GC Root: Global variable in native code
│
├─ com.google.android.gms.internal.location.zzat instance
│    Leaking: NO (MainActivity↓ is not leaking)
│    ↓ zzat.zzda
├─ com.google.android.gms.common.api.internal.ListenerHolder instance
│    Leaking: NO (MainActivit

[2020-05-28 08:42] rtsketo opened #161 "Change Button Color Programmatically"
Is it possible to change the color of the button programmatically?

Providing a drawable as background makes initalCorner and finalCorner to be ignored.

[2020-05-30 17:00] GuyDviri opened #162 "spinning_bar_width ,spinning_bar_color doesn't works"
app:spinning_bar_color="@color/black"
            app:spinning_bar_width="8dp"

why?

[2020-06-02 11:13] jahongir9779 commented on #160
Hi, thanx for the great library, but I'm also having memory leak, any updates on this?

[2020-06-05 14:16] CarlosEsco opened #163 "[Bug] Reverting removes the rounded corners"
If the button is reverted the rounded edges of the button are removed.  It's repeatable in the included app on the repo

[2020-06-05 14:18] CarlosEsco commented on #163
actually if you set the initial corner angle it works, i do think however if you are using a style and it sets the corners either the app needs to ignore the style complete so you have to set the intial corner no matter what, or it reads the styles initial corners

[2020-06-05 14:18] #163 closed

[2020-06-09 05:02] HeyIts-RJ commented on #122
This issue is still there and app is crashing.

[2020-07-10 08:07] chetan3333 commented on #148
The same issue is happening to me as well

[2020-07-27 19:11] basusingh opened #164 "Button's circular corner radius returns to square after calling revert animation."
I'm currently using this code to make the corners rounded for the button.

`<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:state_pressed="false" android:state_selected="false">
        <shape android:shape="rectangle">
            <corners android:radius="50dp" />
            <solid android:color="@color/home_gradient_

[2020-07-27 19:14] basusingh commented on #164
Solved. The issue was in:
` app:initialCornerAngle="0dp"`
changed it to:
` app:initialCornerAngle="50dp"`

[2020-07-27 19:14] #164 closed

[2020-07-27 19:27] basusingh commented on #163
I had the same issue. I used a drawable to set rounded corner and background colours and used the initial and final radius.

[https://github.com/leandroBorgesFerreira/LoadingButtonAndroid/issues/164](url)

[2020-08-09 18:58] basusingh commented on #119
Having the same issue. Please use
`button.saveInitialState()`

[2020-08-26 14:03] Sunar opened #165 "A loading button loses rounded corners after reverting animation"
I have a loading button with rounded corners. I revert the animation if my task fails and want to show the button as it was before, but after reverting it doesn't have rounded corners anymore. I've checked the sample project, and there is same behavior as in my project: rounded buttons lose corners after reverting animation

[2020-08-26 14:07] #165 closed

[2020-08-26 14:07] Sunar commented on #165
Found the solution: need to specify initial corner angle

[2020-09-05 07:17] L-X-J commented on #59
我也遇到了这个问题 原因是shape文件错误，之前错误的写发如下
[code]
修改为:
[code]
解决问题

[2020-09-05 07:29] ochamods opened #166 "startAnimation() with no parameters not working"
After calling startAnimation() with no parameters the animation doesn't start.

This is my code
[code]
This is how I am testing it with DataBinding.
[code]

[2020-09-11 02:46] Proxcentaur commented on #70
how to set it up  clickable again after done Loading animation?

[2020-09-11 02:50] Proxcentaur opened #167 "clickable button after done loading animation"
I have been using this library, but I'm facing a problem right now. How to make this button clickable again after done loading animation? furthermore I want to make this button have a view like the first created.  thanks

[2020-09-14 16:09] mhelmi commented on #148
it there any update for this issue? @leandroBorgesFerreira
I have faced it when I am using btn in the adapter and try to update adapter to start loading

[2020-10-20 20:15] nacho007 opened #168 "OnAnimationEndListener"
Hola Leandro, como estás? Estaba probando la librería y estoy intentando hacer la start animation con un callback de animation end , pero me crashea. Lo has probado?

[2020-10-20 20:20] #168 closed

[2020-10-21 03:03] sebasira opened #169 "Is it possible to use VectorDrawable instead of Bitmap?"
I want to use vector drawables instead of images for the DONE and REVERT images, but I'm not able to make it. Also try to convert VectorDrawable to Bitmap with no luck.

[2020-10-24 20:20] sebasira commented on #150
I'm also looking forward to achieve this in Java. Any updates?

[2020-10-24 21:40] sebasira opened #170 "Icons Flattened"
I'm using the exact same (copy/paste) `.png` from your repo and set any of them on the `doneLoadingAnimation`, but somehow they are all flattened.

They are not square, like they should, they are wider.

This is my from my layout:

[code]

And this is how I'm setting it:

[code]

And this is how it looks like
<img width="50" alt="Screen Shot 2020-10-24 at 18 37 55" src="https://user-images.githubu

[2020-10-24 22:01] sebasira commented on #170
I've figure out that the `style="@style/Widget.AppCompat.Button.Colored"` was causing this issue, don't know why... just trial and error.

Now it's working fine!

[2020-11-07 07:12] MohammadRezaei92 opened #171 "width and height must be > 0"
br.com.simplepass.loadingbutton.animatedDrawables.CircularRevealAnimatedDrawable$readyImage$2.invoke (CircularRevealAnimatedDrawable.java:38)
br.com.simplepass.loadingbutton.animatedDrawables.CircularRevealAnimatedDrawable$readyImage$2.invoke (CircularRevealAnimatedDrawable.java:23)
kotlin.SynchronizedLazyImpl.getValue (SynchronizedLazyImpl.java:74)
br.com.simplepass.loadingbutton.animatedDrawable

[2020-12-01 11:02] jankowskib commented on #169
If you use Kotlin try
`ContextCompat.getDrawable(context, R.drawable.vector).toBitmap()`

[2020-12-01 11:32] sebasira commented on #169
I'm using Java

[2020-12-01 11:33] #170 closed

[2020-12-14 06:29] elsamanirais opened #172 "Button loading"

[2020-12-30 07:49] 979881765 opened #173 "Update the text"
java.  After the restore animation not by words

[2021-01-24 21:09] Suret1 commented on #167
same problem. do you know any solution?

[2021-01-28 16:33] HosseinArabbeigi opened #174 "Cannot set default background color"
I need to set default  background color, but button loses the corner angles:

[code]

[2021-02-14 00:41] Dave181295 commented on #174
Got the same issue

[2021-03-16 19:34] sebasira opened #175 "JCenter shutting down"
JCenter is getting shutting down https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Could you upload the artifacts to other repo? Thank you!

Maybe MavenCentral or JitPack

[2021-03-16 19:37] sebasira commented on #175
Sorry!

Here it is: https://jitpack.io/#leandroBorgesFerreira/LoadingButtonAndroid/2.2.0

[2021-03-16 19:37] #175 closed

[2021-03-23 10:25] leandroBorgesFerreira commented on #174
Hello hello. Did you set the desired corner angle? I don't see it in your XML

[2021-03-23 10:28] leandroBorgesFerreira commented on #173
It is hard to understand your issue... Did you try to use the callback of the revert animation method?

[2021-03-23 10:29] leandroBorgesFerreira commented on #172
Without a description, there no way I can help =|

[2021-03-23 10:30] leandroBorgesFerreira commented on #172
Closing this as there's no description. Please open it again with some description band a way to reproduce your problem, if you're still having the issue

[2021-03-23 10:30] #172 closed

[2021-03-23 10:31] leandroBorgesFerreira commented on #171
Hello hello. Could you explain more what is the problem?

[2021-03-23 10:33] leandroBorgesFerreira commented on #166
🤔  Did you try to use this inside a linear layout instead of the constraint layout? This button doesn't work very well with constraints

[2021-03-23 14:09] HosseinArabbeigi commented on #174
Thanks @leandroBorgesFerreira  for your response, sorry in above code I forgot to add corners radius but I had the problem and finally implemented the view without using library.

[2021-03-23 15:07] leandroBorgesFerreira commented on #174
Oh ok. Good to see that this is no longer a problem. I'll close it then.

[2021-03-23 15:07] #174 closed

[2021-03-23 17:26] leandroBorgesFerreira commented on #150
Java workaround:

[code]

[2021-03-23 17:30] leandroBorgesFerreira commented on #173
I think this is related to #150

[2021-03-23 17:31] leandroBorgesFerreira commented on #167
@Suret1 When I test it in the sample app, I can click in the button multiple times, what exactly is not working for you?

[2021-03-23 17:32] leandroBorgesFerreira commented on #161
Did you use `shape` or `selector` in the drawable? This library has a bug with `shape` =|. Wrap you shape inside a selector and it should be fine.

[2021-03-23 17:39] leandroBorgesFerreira commented on #148
Sorry for the late response... I can't reproduce it in the sample app. I fire the start animation inside the onCreate of an activity and it works just fine =|

[2021-03-25 07:21] piotrwroblewski90 commented on #148
I've the same issue in version 2.2.0

[2021-04-13 13:21] DPalagi opened #176 "Crash - lateinit property initialState has not been initialized"
Hello,

Thank you again for this awesome library !

Since I have updated to 2.2.0, I am having some issues on lifecycle events : my app crash in the `onDestroy` event of `ExampleActivity` when rotated.

Manually calling `dispose` method in `onDestroy`, as in previous version, has no effect...

Logcat :
[code]

The view setup is the following :

`ExampleActivity` contains a  `LoadingScreenView` whi

[2021-04-14 12:10] leandroBorgesFerreira commented on #176
Let me check it at the weekend. Thanks for posting it!

[2021-04-15 17:08] makni-sahar opened #177 "Button disappears after animation when width is set to wrap_content"
Hello,

I have a problem after revert animation when width is wrap_content.

So, my code looks like this

`<br.com.simplepass.loadingbutton.customViews.CircularProgressButton
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentEnd="true"
                android:layout_marginTop="160dp"
                an

[2021-04-27 09:42] DPalagi commented on #176
Hey !

I have found a way to fix this for the time being :

While initializing my custom view, `LoadingScreenView `, all I have to do is call `loadingButton.saveInitialState()` to get rid of the error.

Hope this will help people working around this !

[2021-04-27 09:42] #176 closed

[2021-04-29 02:44] lukaskris commented on #49
after set background again, my morph going to square
![image](https://user-images.githubusercontent.com/15793303/116496506-6fa96080-a8cf-11eb-80ce-74c95893806a.png)

[2021-05-05 04:06] lmj0011 opened #178 "JCenter is at end of life"
The artifact for this project [should be moved to a different host][1]

For those not able to fully migrated their project from jcenter [see this guide][2]

[1]: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/
[2]: https://jeroenmols.com/blog/2021/02/04/migratingjcenter/

[2021-05-16 08:48] MohammadRezaei92 commented on #171
My app crash when user click on the button and this is a stack-trace

[code]

[2021-05-18 08:43] LinaLi-dotcom commented on #178
Hi, can you publish this on MavenCenter instead?

[2021-06-01 13:21] nicodiansk commented on #178
Plz dude migrate the library ;(

[2021-06-01 13:23] giovanniPolatoO commented on #178
Por favor migre la biblioteca a Maven 😉

[2021-06-18 12:38] Gaurav-mandall opened #179 "Installation was not sucessful"
Yesterday I tried to add in my project but There's some errors showing
![image](https://user-images.githubusercontent.com/72154932/122561625-b3af1b00-d05f-11eb-8bc5-d94f595e842d.png)

and follow the steps as per build.gradle(app) in dependency
**implementation 'br.com.simplepass:loading-button-android:2.2.0'**
please help to figure out the issue

[2021-06-20 17:11] naveenrao2k commented on #179
Same issue

[2021-06-20 18:45] ametemre opened #180 "Failed to resolve: br.com.simplepass:loading-button-android:2.2.0 <a href="open.dependency.in.project.structure">Show in Project Structure dialog</a> Affected Modules: <a href="openFile:C:/Users/Tabularasha/AndroidStudioProjects/AssistX/app/build.gradle">app</a>"
hi

   i was getting this error after i formatted and re build my OS with new android studio version. anyway i found the reason.
   because the jcenter() library depritiated and gives its place to mavenCenteral(), new projects come with mavenCentral(). however the mavenCentral() does not support your library some how, but if jcenter() with mavenCentral() you get a warning to replace the Jcenter wi

[2021-06-21 08:30] gauravrai1 commented on #179
It is because jCenter is deprecated where this library is hosted and author didn't upload it to mavenCentral.

[2021-06-24 16:13] Alirezanr opened #181 "startAnimation() does not work with viewBinding"
startAnimation() method works perfectly fine with findViewById() but when I use it with viewBinding
 (for example someFragmentBinding.someCircularProgressButton.startAnimation() ) it gets compile time error with below error:

error: no value passed for parameter 'p0'
        someFragmentBinding.someCircularProgressButton.startAnimation()

[2021-06-25 11:09] mattwatson-dev opened #182 "cannot be cast to kotlin.jvm.functions.Function0"
Coding in java.

        loginButton.startAnimation();
...
        loginButton.revertAnimation(new OnAnimationEndListener() {        //*LoginActivity.java:54 below
            @Override
            public void onAnimationEnd() {
                System.out.println("HIT");
            }
        });

     Caused by: java.lang.ClassCastException: com.example.app.LoginActivity$1 cannot be cast to kotli

[2021-07-11 14:30] developerfromjokela opened #183 "Move from JCenter to other repository"
JCenter is scheduled to be shut down in future ([link](https://developer.android.com/studio/build/jcenter-migration)]), and needs to be switched to for example, maven central.

[2021-07-19 01:10] AEDR2 commented on #59
Hello everybody,

I don't know if my answer helps anyone here, but I had the same issue as above. And what I was doing wrong was to use this:
                <br.com.simplepass.loading_button_lib.customViews.CircularProgressButton
                    android:id="@+id/bContinuarValidation"
                    style="@style/continueButton"
                    android:layout_gravity="center_horizonta

[2021-07-25 09:39] iRonBotxx commented on #183
See this > https://github.com/FarhamHosseini/LoadingButton#installation

[2021-07-25 09:40] iRonBotxx commented on #178
See this > https://github.com/FarhamHosseini/LoadingButton#installation

[2021-08-20 04:50] j3g commented on #183
thanks for offering to help. the project you linked to is not the same project. it is similar. I get the following error when trying to use this replacement library:
`error: package br.com.simplepass.loadingbutton.customViews does not exist
import br.com.simplepass.loadingbutton.customViews.CircularProgressButton;`

[2021-08-21 21:40] FarhamHosseini commented on #183
Replace `br.com.simplepass.loadingbutton.customViews.CircularProgressButton` with `com.apachat.loadingbutton.core.customViews.CircularProgressButton` and it will work ^_^

[2021-09-15 03:30] Pei116 commented on #161
It used to work before but recently I found it's no longer showing loading animation properly (button is still in rectangular shape) when used with background.

[2021-09-15 17:30] josechagas commented on #148
I' have the same issue in version 2.2.0

[2021-09-30 02:51] hientt66ghtk opened #184 "Button 6 Issue."
I'd like to using button 6.
I expect when users click we will show countdown process.
But now it show loading before count process.
It's not a good behavior, if possible please help me update it.
Thank you very much.

[2021-11-20 09:39] pacifire commented on #148
Same issue...

[2021-11-20 11:51] oyamo opened #185 "Button Corner Radius Reverts"
Button corner radius changes when the animation is reverted.

[2021-11-23 03:39] ChhaiHout commented on #148
It seem like I could prevent that crash by calling button to dispose in onDestroyView :
`override fun onDestroyView() {
        super.onDestroyView()
        progressButton.dispose()
    }`
FYI : use in Fragment

This crash happened when I call dispose in onDestroy :
`override fun onDestroy() {
        super.onDestroy()
	progressButton.dispose()
}`

[2021-11-23 03:41] ChhaiHout commented on #185
For me I cannot face that issue by using v2.1.5
`implementation 'br.com.simplepass:loading-button-android:2.1.5'`

[2021-11-23 03:43] ChhaiHout commented on #181
If you use v2.1.5, you call `someFragmentBinding.someCircularProgressButton..startMorphAnimation()` instead.

[2021-11-23 03:44] ChhaiHout commented on #166
If you use v2.1.5, you call someFragmentBinding.someCircularProgressButton..startMorphAnimation() instead.

[2021-11-23 05:44] oyamo commented on #185
I am using the latest version
 `implementation 'br.com.simplepass:loading-button-android:2.2.0`

[2022-01-01 00:41] issacNabil opened #186 "support rtl"
this amazing lib but please support rtl cause not support it make issuse while loading animation in rtl loading

[2022-01-02 09:22] mahbub-alam commented on #185
I have similar problem. My button background has selector with rounded corners. After calling `button.startAnimation()`, when I try to revert it using `button.revertAnimation`, the button corners disappear and shows square button. I am using

`implementation "br.com.simplepass:loading-button-android:2.2.0"`

[2022-01-29 09:49] moradi-morteza commented on #185
i have this problem too

[2022-02-01 18:31] vpnly commented on #185
@moradi-morteza try to add `app:initialCornerAngle="your_dimention"` to your button in xml layout

[2022-04-02 09:57] tareq3 commented on #185
@vpnly thanks its working now.

[2022-04-13 12:12] ShemShadrack opened #188 "medium setup thro misleading"
followed the medium setup but am not getting anything right why were you extending the button class? plus you left me hanging with the unclear naming like mState,mGradient . infact the errors am having is the (m) word naming and the button class.

plus there isnt an xml file called drawable button_shape you started out with shape_default🧐.

Screenshot(1)
https://imgur.com/undefined

screenshot(2)

[2022-05-11 15:13] dominik59 commented on #144
@Frank1234 solution works. Thank you for that, because we were about to get rid of this library because of RAM leakage. Your solution saved it :)

[2022-05-14 10:54] pengliangs commented on #185
I also met

[2022-08-23 12:10] MahdiNavidi commented on #160
hi
I had this problem too
 this solution resolved my problem